---

title: Mine produkter
bodyclass: has-padding-tb

nav-produsent: true
nav-produsent-title: Mine produkter
sortOrder: 01

---

{{#extend "tpl-default"}}
{{#content "body"}}

<div class="row">
	<div class="large-10 large-offset-1 columns">

    {{>c-page-header}}

		<div class="c-list is-3wide">

			{{#each my-product}}
				{{#each this.pages}}
					{{>c-product-my}}
				{{/each}}
			{{/each}}

		</div>

	</div>
</div>

{{/content}}
{{/extend}}
