---

title: Mine dokumenter
lead: Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
bodyclass: has-padding-tb

nav-produsent: true
nav-produsent-title: Mine dokumenter
sortOrder: 03

---

{{#extend "tpl-default"}}
{{#content "body"}}

<div class="row">
	<div class="large-10 large-offset-1 columns">

    {{>c-page-header}}

		<button class="file-upload button large primary">Last opp dokument
		  <input type="file" name="documents" />
		</button>

    <hr>

    {{#each mine-dokumenter}}
    <div class="panel alternate">
      <div class="row collapse valign-middle">
        <div class="medium-6 columns">
          <h3><a href="#">{{navn}}</a></h3>
          <p>{{dato}}</p>
        </div>
        <div class="medium-6 columns">
          <button class="button ghost info medium-right" data-reveal-id="modal-slett">Slett</button>
        </div>
      </div>
    </div>
    {{/each}}

	</div>
</div>

{{/content}}
{{/extend}}
