.article {

}

.article h2 {
  font-size: $h3-font-size;
  margin-top: rem-calc(30);
}

.article img {
  margin: rem-calc(10 0 24);
}

.article-aside {
  p {
    font-size: $small-font-size;
  }
}

.article-author {
  &, a {
    color: $gray-color;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.article blockquote {
  @media #{$large-up} {
    @extend .large-pull-2;
    @include grid-column(14);
  }
  p {
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
  }
}
