$logo-footer-size: 100px;

footer {
	color: $gray-light-color;
	padding: rem-calc(40 0 80);
}

footer a {
	font-weight: $font-weight-bold;
	color: $white;
	&:hover {
		color: $gray-light-color;
	}
}

footer hr {
	margin: rem-calc(10 0 18);
	border-color: darken($gray-color, 10%);
}

footer p {
	font-size: rem-calc(14);
	margin-bottom: rem-calc(8);
}

.logo-matmerk {
	display: inline-block;
	position: relative;
	width: rem-calc(80);
	height: rem-calc(26);
	@include background-image("logo-matmerk");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@extend %text-indent;
	margin-bottom: rem-calc(10);
}

.logo-footer {
	position: relative;

	display: inline-block;

	width: $logo-footer-size;
	height: $logo-footer-size;

	margin-bottom: rem-calc(30);

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	@include background-image("logo-circle");
	@extend %text-indent;
}
