$logo-width: rem-calc(90);

.top-bar {
	z-index: $z-topbar;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

::-webkit-search-cancel-button{
	display: none;
}

.title-area {
	padding-left: rem-calc(6);
}

.button.login {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: rem-calc(16);
	display: block;
}

.has-search {
  position: absolute;
  top: 0;
  left: $logo-width + rem-calc(40);
	display: block;
	margin-bottom: rem-calc(9);
	margin-top: rem-calc(13);
	@media #{$topbar-media-query} {
		margin-top: 0;
	}
	&:before {
		content: "\f16c";
		font-family: $font-icons;
		pointer-events: none;
		width: 1em;
		height: 1em;
		line-height: 1;
		margin-top: -2px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(270deg);
		z-index: 20;
		left: rem-calc(9);
		@media #{$topbar-media-query} {
			left: rem-calc(10);
			top: 85%;
		}
		color: $gray-color;
		display: block;
	}
}

.has-search input[type=search] {
	font-size: $topbar-link-font-size;
	border-color: $gray-color;
	border-radius: $global-rounded;
	&::-webkit-input-placeholder {
	  color: $gray-color;
	}
	&:focus {
		border-color: $primary-color;
	}
	@media #{$medium-up} {
		padding-left: rem-calc(30);
		width: rem-calc(200);
	}
	@media #{$large-up} {
		padding-left: rem-calc(22);
	}
	@media #{$ie} {
		padding-left: rem-calc(26);
	}
	@media #{$small-only} {
		width: $topbar-input-height;
		&::-webkit-input-placeholder {
			visibility: hidden;
		}
	}
}

@media #{$small-only} {
	.has-search input[type=search] {
		color: $white;
	}
	.is-searching {
		li.name h1 {
			display: none;
		}
		.has-search {
			left: rem-calc(14);
			input[type=search] {
				color: $topbar-link-color;
				width: rem-calc(180);
				padding-left: rem-calc(26);
			}
			&::-webkit-input-placeholder {
				visibility: visible;
			}
		}
	}
}

@media #{$topbar-media-query-only} {
	.top-bar-section ul li > a {
		padding-left: rem-calc(16);
	}
}

.top-bar.expanded {
	background: $white;
	padding-bottom: rem-calc(10);
}

.top-bar .top-bar-section {
	padding-right: rem-calc(14);
}

header .top-bar .name h1 a {
	width: $logo-width;
	margin: 0 $topbar-link-padding;
	padding: 0;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	@include background-image("logo");
	@extend %text-indent;
}

.top-bar-section ul li > a.button {
	font-size: $topbar-link-font-size;
}

.top-bar-section .dropdown li a {
	padding: rem-calc(10 50 10 0) !important;
	line-height: $paragraph-line-height !important;
	&.log-out {
		color: $gray-color !important;
	}
}

.logged-in-as {
	@media #{$topbar-media-query-only} {
		display: none;
	}
	&-name {
		display: none;
	}
}
.logged-in-as span {
	padding: $topbar-link-padding;
	line-height: $topbar-height;
	margin-left: rem-calc(3);
	.m-profilepic {
		@media #{$large-up} {
			top: rem-calc(10);
		}
	}
}

.top-bar-section li a,
.logged-in-as span {
	position: relative;
	top: rem-calc(2);
	background-color: transparent !important;
}
.top-bar-section li.active a {
	background: transparent !important;
	color: $primary-color !important;
	@media #{$topbar-media-query} {
		box-shadow: inset 0 -5px 0 0 $primary-color;
	}
}

.top-bar .m-profilepic {
	position: relative;
	top: rem-calc(11);
	@media #{$large-up} {
		top: rem-calc(13);
	}
	margin-right: rem-calc(5);
}

@media #{$topbar-media-query-only} {
	.top-bar .divider {
		border-top-color: $gray-light-color;
		padding: rem-calc(4 0);
		margin-top: rem-calc(6);
	}
}

@media #{$topbar-media-query-only} {
	.keep {
		position: absolute;
		right: rem-calc(-7);
		top: 0;
		left: auto;
	}
}

.top-bar .log-out {
	color: $gray-color;
}

.top-bar .toggle-topbar a {
	padding: rem-calc(0 16 0);
}
