.r-product {
	padding-top: rem-calc(70);
	background: $white;
	@media #{$large-up} {
		padding: rem-calc(90 0 30);
		@include grid-row();
		background: none;
	}
}

.r-product > .columns > .row {
	background: $white;
}

.r-product_header {
	padding: rem-calc(0 0 20);

	@media #{$large-up} {
		border-radius: $global-radius*2 $global-radius*2 0 0;
	}

	&_producer {
		font-size: $h3-font-size - $h3-font-reduction;

		margin-bottom: 0;

		@extend %tjukk;
		@media #{$medium-up} {
			font-size: $h3-font-size;
		}
	}
}

.form-sortiment {
	label {
	  width: 100%;
		margin-left: $button-med*2 !important;
	  padding: $button-med $button-med*2;
		padding-left: rem-calc(36);
	  position: relative;
	  &:before {
	    content: "";
	    font-family: $font-icons;
	    font-size: rem-calc(13);
	    padding-top: rem-calc(5);
	    color: $white;
	    text-align: center;
	    background: #ddd;
	    width: rem-calc(29);
	    height: rem-calc(29);
			border-radius: 50%;
	    position: absolute;
	    left: 0;
	    top: rem-calc(4);
	  }
	}
	input {
		display: none;
	}
  input:checked + label {
    font-weight: $font-weight-bold;
  }
  input:checked + label:before {
    content: "\f126";
    background: $success-color;
  }
}
