---

title: Rediger produkt
lead: Hjelp innkjøpere å finne ditt produkt.
sortOrder: 01

bodyclass: has-padding-tb

nav-prod-rediger-produkt: true
nav-sidenav-title: Generelt
nav-sidenav-state: complete

has-sticky: true
sticky-title: Gårdsis krokan
sticky-button: Se produkt
sticky-button-link: gardsis-krokan.html
sticky-save: true

---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		{{>m-prod-redigerprod-sidenav}}
	{{/content}}

	{{#content "content" mode="append"}}
		<form data-abide>
			{{#each rediger-produkt-grunnleggende}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
