---

title: Varedeklarasjon
lead: Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor.
sortOrder: 02

bodyclass: has-padding-tb

nav-prod-rediger-produkt: true
nav-sidenav-title: Varedeklarasjon
nav-sidenav-state: incomplete

has-sticky: true
sticky-title: Gårdsis krokan
sticky-button: Se produkt
sticky-button-link: gardsis-krokan.html
sticky-save: true

---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		{{>m-prod-redigerprod-sidenav}}
	{{/content}}

	{{#content "content" mode="append"}}
		<form data-abide>
			{{#each rediger-produkt-varedeklarasjon}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
