---

title: Distribusjon
lead: Sed posuere consectetur est at lobortis. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
sortOrder: 03

bodyclass: has-padding-tb

nav-prod-rediger-produkt: true
nav-sidenav-title: Distribusjon
nav-sidenav-state: incomplete

has-sticky: true
sticky-title: Gårdsis krokan
sticky-button: Se produkt
sticky-button-link: gardsis-krokan.html
sticky-save: true

---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		{{>m-prod-redigerprod-sidenav}}
	{{/content}}

	{{#content "content" mode="append"}}
		<form data-abide>
			{{#each rediger-produkt-distribusjon}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
