---

title: Bilder
lead: De tre første bildene vises i toppen av produktsiden. Resten av bildene vises i bildegalleriet.
sortOrder: 04

bodyclass: has-padding-tb

nav-prod-rediger-produkt: true
nav-sidenav-title: Bilder
nav-sidenav-state: incomplete

has-sticky: true
sticky-title: Gårdsis krokan
sticky-button: Se produkt
sticky-button-link: gardsis-krokan.html
sticky-save: true

---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		{{>m-prod-redigerprod-sidenav}}
	{{/content}}

	{{#content "content" mode="append"}}
		<form data-abide>
			{{#each rediger-produkt-bilder}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
