---
title: Gårdsis krokan
kort-beskrivelse: Krokan er en gammel klassikker. Vi lager krokan selv av mandler, sukker og bittelitt salt! Saltet gir et lite piff og kontrast til det søte.

ingredienser: Melk, sukker, eggeplomme, maltodekstrin, dekstrose, fortykningsmiddel (inulin), stablilsator (naturlig johannesbrødkjernemel), naturlig vaniljeekstrakt, vaniljefrø
allergener: Inneholder melk
egenskaper:
- Glutenfri
holdbarhet: 6 dager
frysevare: true
oppbevaring: -18ºC eller kaldere
merkeordninger:
- NytNorge
- Spesialitet
distribusjon: Grossist
i-salg-hos:
- Dagligvare

profilepicture: bamsrudlaven/profile-bamsrudlaven.jpg
producer-link: bamsrudlaven.html

gallery:
- bamsrudlaven/gardsis-krokan.jpg
- bamsrudlaven/krokan.jpg
- bamsrudlaven/bamsrudlaven3.png

produktvarianter:
- 250 gram
- 500 gram
- 1 kg, uemballert

product: true

following-product: false
i-mitt-sortiment: false
my-product: true
soketreff: true

likes: 24

has-sticky: true
sticky-title: Mitt produkt - <%= title %>
sticky-button: Rediger
sticky-button-link: 01-grunnleggende.html

tags:
- Bamsrudlåven
labels:
- Meieriprodukter
fylke:
- Østfold
layout: tpl-product.hbs
---

Ideen om å gjøre om låven til selskapslokale kom etter en familietur til Disneyland i Paris i 1994. Bestemor Ducks restaurant i en gamel låve ble inspirasjon til å gjøre om låven. Vårt mål er å skape en lett og behagelig atmosfære, hvor man kan senke skuldrene og nyte god hjemmelaget mat basert på lokale råvarer. Selskapslokalet går side om side med tradisjonell gårdsdrift. Eggproduksjon har det vært på Bamsrud Gård i over 30 år, og i dag er det 7500 frittgående høner som legger egg og selges under merkevaren Prior.
