---
title: Gårdsis vanilje
kort-beskrivelse: Vaniljeis er en vinner hos de fleste og passert fint som dessert med utallige tilbehør! Den passer blant annet perfekt til en mørk og kraftig sjokoladekake med friske bær. Smaken er fyldig, mindre søt og med en lettere munnfølelse enn fløteis.

ingredienser: Melk, sukker, eggeplomme, maltodekstrin, dekstrose, fortykningsmiddel (inulin), stablilsator (naturlig johannesbrødkjernemel), naturlig vaniljeekstrakt, vaniljefrø
allergener: Inneholder melk
egenskaper:
- Glutenfri
holdbarhet: 6 dager
frysevare: true
oppbevaring: -18ºC eller kaldere
merkeordninger:
- NytNorge
- Spesialitet
distribusjon: Grossist
i-salg-hos:
- Dagligvare

profilepicture: bamsrudlaven/profile-bamsrudlaven.jpg
producer-link: bamsrudlaven.html

gallery:
- bamsrudlaven/gardsis-vanilje.jpg
- bamsrudlaven/bamsrudlaven2.jpg
- bamsrudlaven/bamsrudlaven3.png

produktvarianter:
- 250 gram
- 500 gram
- 1 kg, uemballert

product: true

following-product: false
i-mitt-sortiment: false
my-product: true
soketreff: true

likes: 12

has-sticky: true
sticky-title: Mitt produkt - <%= title %>
sticky-button: Rediger
sticky-button-link: #

tags:
- Bamsrudlåven
labels:
- Meieriprodukter
fylke:
- Østfold
layout: tpl-product.hbs
---
