<!-- Grab jQuery form CDN – fall back to local if necessary -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="bower-components/jquery/dist/jquery.js"><\/script>')</script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

<!-- Laster produkter og produsenter til kartet på søkesiden -->
<script src="{{assets}}/js/vendor/geojson.js"></script>

<!-- JS -->
<script src="{{assets}}/js/app.js"></script>

<script>

// JS for prototype

// Redirects to search page when entering in search field
$(document).on('focus', "#search", function() {
  $(document).keypress(function(e) {
    if(e.which == 13) {
      window.location.href = "search.html";
    }
  });
});

// Enables save button in forms
$( document ).ready(function() {
  $('form').on('keyup change', 'input, select, textarea', function(){
    $(".save").removeClass("disabled");
  });
});

// Removes like button from users who shouldn't see it
$( document ).ready(function() {
  function clean() {
    $('.heart').remove();
    $('.c-product-info_tag').remove();
  };
  if ($("body").hasClass("produsent")) {
    clean();
  };
  if ($("body").hasClass("utlogget")) {
    clean();
  };
});

</script>
