<link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://fonts.typotheque.com/WF-026090-008383.css" type="text/css" />
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="{{assets}}/css/styles.css"/>

{{#if docs}}
	<link rel="stylesheet" href="{{assets}}/css/docs.css"/>
	<script src="{{assets}}/bower-components/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{{/if}}
