<table class="c-product-table is-bordered is-stretched">
  <tbody>
    <tr>
      <th>Distribusjon</th>
      <td>{{page.distribusjon}}<br>
        <span class="hide fade">Evt kommentar distribusjon går her.</span></td>
    </tr>
    <tr>
      <th>I salg hos</th>
      <td>
        <ul>
          {{#each page.i-salg-hos}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    <tr>
      <th>Mål</th>
      <td>10cm x 20cm x 30cm</td>
    </tr>
    <tr>
      <th>Sesong</th>
      <td>
        <ul class="c-sesong">
          <li class="c-sesong_no">Jan</li>
          <li class="c-sesong_no">Feb</li>
          <li class="c-sesong_yes">Mar</li>
          <li class="c-sesong_yes">Apr</li>
          <li class="c-sesong_yes">Mai</li>
          <li class="c-sesong_yes">Jun</li>
          <li class="c-sesong_yes">Jul</li>
          <li class="c-sesong_yes">Aug</li>
          <li class="c-sesong_yes">Sep</li>
          <li class="c-sesong_yes">Okt</li>
          <li class="c-sesong_no">Nov</li>
          <li class="c-sesong_no">Des</li>
        </ul>
        <p class="hide fade">Evt. kommentar til sesong går her.</p>
      </td>
    </tr>
  </tbody>
</table>
