<table class="c-product-table is-bordered is-stretched">
  <tbody>
    <tr>
      <th>Ingredienser</th>
      <td>{{page.ingredienser}}</td>
    </tr>
    {{#if page.allergener}}
    <tr>
      <th>Allergener</th>
      <td>
        <strong><i class="fi-alert color-warning"></i> {{page.allergener}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if page.egenskaper}}
    <tr>
      <th>Egenskaper</th>
      <td>
        <ul>
          {{#each page.egenskaper}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    {{/if}}
    {{#if page.holdbarhet}}
    <tr>
      <th>Holdbarhet</th>
      <td>{{page.holdbarhet}}</td>
    </tr>
    {{/if}}
    {{#if page.oppbevaring}}
    <tr>
      <th>Oppbevaring</th>
      <td>
        {{#if page.frysevare}}<span class="label frysevare radius">Frysevare</span>{{/if}}
        {{page.oppbevaring}}
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>
