<ul class="side-nav" role="navigation">
	{{#each nav-innkjoper-rediger-profil}}
		{{#withSort pages 'data.sortOrder'}}
			<li role="menuitem" class="{{#is ../../page.dest this.dest}} active{{/is}}">
				<a href="{{autolink}}">{{data.nav-sidenav-title}}</a>
			</li>
		{{/withSort}}
	{{/each}}
</ul>
