  <div id="modal-slett" class="reveal-modal tiny" data-reveal aria-labelledby="modalSlett" aria-hidden="true" role="dialog">
    <h3>Slett</h3>
    <p>Er du sikker på at du vil slette?</p>

    <a href="#" class="button expand">Slett</a>
    <a href="#" class="button info ghost expand">Avbryt</a>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
