  <div id="modal-lagre-sok" class="reveal-modal tiny" data-reveal aria-labelledby="modalLoggInn" aria-hidden="true" role="dialog">
    <h3>Lagre søk</h3>
    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>

    <form>
      <div class="row collapse">
        <div class="small-12 columns">
          <input type="text" placeholder="Navn på søk">
        </div>
        <div class="small-12 columns">
					<fieldset class="switch" tabindex="0">
						<input id="epost1" type="checkbox" checked>
						<label for="epost1">Motta epost-varsling ved nye treff</label>
						<span class="inline">Motta epost-varsling ved nye treff</span>
					</fieldset>
        </div>
        <div class="small-12 columns">
          <a href="#" class="button expand">Lagre</a>
        </div>
      </div>
    </form>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
