{{#is mode "utlogget"}}
  <div id="modal-login" class="reveal-modal small" data-reveal aria-labelledby="modalLoggInn" aria-hidden="true" role="dialog">
    <h2>Logg inn</h2>
    <p class="lead">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    {{>m-modal-buttons}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="modal-login-from-follow" class="reveal-modal small" data-reveal aria-labelledby="modalLoggInn" aria-hidden="true" role="dialog">
    <h2>Logg inn for å følge</h2>
    <p class="lead">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    {{>m-modal-buttons}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="modal-login-from-lik" class="reveal-modal small" data-reveal aria-labelledby="modalLoggInn" aria-hidden="true" role="dialog">
    <h2>Logg inn for å like</h2>
    <p class="lead">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    {{>m-modal-buttons}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
{{/is}}
