<hr>

{{#is basename "index"}}
<a href="/produsent/mine-produkter.html" class="button expand">Logg inn som Bamsrudlåven</a>
<a href="/innkjoper/aktuelt-innkjoper.html" class="button expand mb">Logg inn som REMA 1000</a>
{{else}}
<a href="/produsent/{{basename}}.html" class="button expand">Logg inn som Bamsrudlåven</a>
<a href="/innkjoper/{{basename}}.html" class="button expand mb">Logg inn som REMA 1000</a>
{{/is}}

<a href="#" class="button link expand">Hjelp til innlogging</a>
