{{#if page.gallery}}

<ul class="clearing-thumbs c-gallery c-gallery_{{length page.gallery}} hide-for-print" data-clearing>
  {{#each page.gallery}}
    <li
      class="c-gallery-slide{{@index}}{{#compare @index ">=" 3}} hide{{/compare}}"
      style="background-image:url('/media/{{.}}')"
      >
      <a href="/media/{{.}}">
        <img src="/media/{{.}}" data-caption="Bildetekst går her">
      </a>
    </li>
  {{/each}}
</ul>

{{else}}

<div class="c-gallery_empty">
</div>

{{/if}}
