<ul class="side-nav" role="navigation">
	{{#each nav-prod-rediger-produkt}}
		{{#withSort pages 'data.sortOrder'}}
			<li role="menuitem" class="step-{{data.nav-sidenav-state}}{{#is ../../page.dest this.dest}} active{{/is}}">
				<a href="{{autolink}}">{{data.nav-sidenav-title}}</a>
			</li>
		{{/withSort}}
	{{/each}}
</ul>

<hr>

<button class="button delete ghost" data-reveal-id="modal-slett">Slett</button>
