<ul class="medium-block-grid-2 m-produktvarianter">
  {{#each page.produktvarianter}}
  <li>
    <div class="panel text-center">
      <p>{{.}}<br>
      <small class="epd">1589 29 1898</small></p>
    </div>
  </li>
  {{/each}}
</ul>
