<aside class="m-search-list m-search-list_full">
  <form class="m-search-list_filters">
    <div class="row">
      {{#each search-categories}}
      <div class="medium-6 columns">
        <a href="#" id="{{title}}DropdownBtn" class="button expand search-dropdown" data-dropdown="{{hyphenate title}}">{{title}}</a>
        <ul id="{{hyphenate title}}" class="small content f-dropdown search-dropdown-content" data-dropdown-content>
          {{#each sub}}
          <li>
            <input type="checkbox" id="{{hyphenate .}}" name="fl-categories" value=".{{hyphenate .}}">
            <label for="{{hyphenate .}}">{{.}}</label></li>
          {{/each}}
        </ul>
      </div>
      {{/each}}
    </div>
		<div class="row">
			<div class="small-12 columns mb1">
				<a href="#" class="button link medium-right">Eksporter til Excel</a>
			</div>
		</div>
  </form>
</aside>
