<ul class="inline-list large-right m-share">
  <li><a href="javascript:window.print()" class="button info ghost">Skriv ut</a></li>
  <li><a href="#" class="button facebook"><i class="fi-social-facebook"></i> <span class="hide">Facebook</span></a></li>
  <li><a href="#" class="button twitter"><i class="fi-social-twitter"></i> <span class="hide">Twitter</span></a></li>
  <li><a href="#" class="button email info"><i class="fi-mail"></i> <span class="hide">Send på epost</span></a></li>
</ul>
