<table class="c-product-table is-striped">
  <caption>Næringsinnhold pr. 100g/ml</caption>
  <tbody>
    <tr>
      <th>Energi</th>
      <td>3014 kj/733 kcal</td>
    </tr>
    <tr>
      <th>Fett</th>
      <td>81g</td>
    </tr>
    <tr>
      <th>– mettede fettsyrer</th>
      <td>53g</td>
    </tr>
    <tr>
      <th>Karbohydrater</th>
      <td>0,50g</td>
    </tr>
    <tr>
      <th>– sukkerarter</th>
      <td>0,50g</td>
    </tr>
    <tr>
      <th>Protein</th>
      <td>0,50g</td>
    </tr>
    <tr>
      <th>Salt</th>
      <td>2,50g</td>
    </tr>
  </tbody>
</table>
