---

title: Rediger profil
lead:
sortOrder: 01

bodyclass: has-padding-tb

nav-prod-rediger-profil: true
nav-sidenav-title: Generelt

has-sticky: true
sticky-title: Rediger profil
sticky-button: Se profil
sticky-button-link: bamsrudlaven.html
sticky-save: true

---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		{{>m-prod-redigerprofil-sidenav}}
	{{/content}}

	{{#content "content" mode="append"}}

		<form data-abide>
			<h3 class="mb1">Data fra Produsentregisteret</h3>
			{{#each rediger-profil-innkjoper-generelt}}
				{{>c-form}}
			{{/each}}
			{{>c-prodreg}}
		</form>

		<hr>

		<form data-abide>
			{{#each rediger-profil-generelt}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
