---

title: Bilder
lead: Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
sortOrder: 02

bodyclass: has-padding-tb

nav-prod-rediger-profil: true
nav-sidenav-title: Bilder

has-sticky: true
sticky-title: Rediger profil
sticky-button: Se profil
sticky-button-link: bamsrudlaven.html
sticky-save: true

---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		{{>m-prod-redigerprofil-sidenav}}
	{{/content}}

	{{#content "content" mode="append"}}
		<form data-abide>
			{{#each rediger-profil-bilder}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
