/* ===================================================
BASE
=================================================== */

img {
  width: 100%;
}

@media #{$ie} {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
