.show-for-print {
	display: none;
}

@media print {
	* {
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	.show-for-print {
		display: block;
	}

	.clearing-assembled {
		display: none;
	}

	img {
		height: 80%;
	}

  a,
  a:visited { text-decoration: none;}
  a[href]:after { content: ""; }

  abbr[title]:after { content: ""; }

  // Don't show links for images, or javascript/internal links
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after { content: ""; }

	.top-bar,
	footer {
		display: none;
	}

	.c-product-image,
	.c-qualifications a {
		display: none;
	}
	.c-product-info {
		padding: 0;
	}
	.c-location {
		color: #000 !important;
	}

	pre,
	blockquote {
		//border: 1px solid #999;
		p {
		font-weight: $font-weight-normal !important;
		}
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid !important;
	}

	img {
		max-width: 100% !important;
	}

	h3, h4 {
		font-size: $h3-font-size !important;
	}

	.c-sesong_no,
	.c-sesong_yes {
		&:before {
			font-family: $font-icons;
		}
	}

	.c-sesong_no {
		color: $gray-color !important;
		&:before {
			content: "\f217";
			display: block;
		}
	}

	.c-sesong_yes {
		color: $success-color !important;
		&:before {
			content: "\f126";
			display: block;
		}
	}

	@page {
		margin: 1cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
