
// Demo vars, when you use bourbon neat just delete them and comment out the two lines above
$tablet-l: 1024px;
$tablet-p: 768px;
$mobile-l: 640px;
$mobile-p: 480px;
$use-min-width: false; // This variable will be used pg-scss
