---
title: Hjelp
bodyclass: help has-padding-tb

lead: Lokalmat.no er en nettjeneste som skal bidra til større samarbeid mellom produsent og innkjøper, drevet av Matmerk.
---

{{#extend "tpl-default"}}
	{{#content "body"}}

	<div class="row">
		<div class="medium-8 large-6 medium-centered columns">

			<h2>{{title}}</h2>

			<dl class="accordion" data-accordion>
				{{#each hjelp}}
			  <dd class="accordion-navigation">
			    <a href="#panel{{@index}}">{{question}}</a>
			    <div id="panel{{@index}}" class="content">
			      <p>{{answer}}</p>
			    </div>
			  </dd>
				{{/each}}
			</dl>

		</div>
	</div>

	{{/content}}
{{/extend}}
