---
title: Forsiden
bodyclass: index
sortOrder: 01

lead: Lokalmat.no er en nettjeneste som skal bidra til større samarbeid mellom produsent og innkjøper, drevet av Matmerk.
---

{{#extend "tpl-default"}}
	{{#content "body"}}

		<div class="m-intro" style="background-image:url(/media/intro.jpg)">
			<div class="row">
				<div class="small-10 medium-6 large-6 small-centered columns text-center">
					<h1>Kortreist mat fra<br>norske produsenter</h1>
					<p class="lead">{{lead}}</p>
					<div class="small-10 medium-6 large-6 small-centered columns">
						<a href="search.html" class="button large expand">Se alle produkter</a>
					</div>
				</div>
			</div>
		</div>

		<div class="c-index-floor c-index-floor-register">
			<div class="row">
				<div class="medium-10 medium-centered columns text-center">
					<h2 class="is-yellow mb1">Registrer deg!</h2>
					<div class="row">
						<div class="medium-6 columns mb1">
							<h3 class="is-red">For produsenter</h3>
							<ul class="no-bullet">
								<li>Punkt går her</li>
								<li>Lengre punkt går her</li>
								<li>Punkt her</li>
							</ul>
							<p><a href="#">Mer info…</a></p>
							<a href="#" class="button">Registrer</a>
						</div>
						<div class="medium-6 columns mb1">
							<h3 class="is-red">For innkjøpere</h3>
							<ul class="no-bullet">
								<li>Punkt her</li>
								<li>Lengre punkt går her</li>
								<li>Punkt går her</li>
							</ul>
							<p><a href="#">Mer info…</a></p>
							<a href="#" class="button">Registrer</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="c-index-floor c-index-floor-news">
			<div class="row">
				<div class="large-12 columns text-center">
					<h2 class="is-red mb1">Nye produkter</h2>
					<div class="c-list is-4wide text-left">
						{{#each product}}
							{{#withFirst this.pages 4}}
								{{>c-product}}
							{{/withFirst}}
						{{/each}}
					</div>
					<a href="#" class="button ghost">Se flere</a>
				</div>
			</div>
		</div>

		<div class="c-index-floor c-index-floor-aktuelt">
			<div class="row">
				<div class="large-12 columns text-center">
					<h2 class="hide">Artikler</h2>

					<ul class="c-news text-left mb2">
					{{#each article}}
						{{#each this.pages}}
							{{>c-news}}
						{{/each}}
					{{/each}}
					</ul>

					<a href="nyhetsarkiv.html" class="button ghost">Flere artikler</a>
				</div>
			</div>
		</div>

	{{/content}}
{{/extend}}
