---
title: Nyhetsarkiv
bodyclass: news-archive has-padding-tb

lead: Lokalmat.no er en nettjeneste som skal bidra til større samarbeid mellom produsent og innkjøper, drevet av Matmerk.
---

{{#extend "tpl-default"}}
	{{#content "body"}}

	<div class="row">

		<div class="small-12 columns">
			<h2 class="mb1">{{title}}</h2>

			<ul class="c-news mb2">
			{{#each article}}
				{{#each this.pages}}
					{{>c-news}}
					{{>c-news}}
					{{>c-news}}
				{{/each}}
			{{/each}}
			</ul>

			{{>c-pagination}}

		</div>
	</div>

	{{/content}}
{{/extend}}
