---
title: Søk
bodyclass: search
SørtOrder: 02
showMap: large
---

{{#extend "tpl-default"}}

  {{#content "body"}}

    <aside class="m-search-list">

      <form id="Filters" class="m-search-list_filters">
        <div class="row">


            <div class="medium-6 columns"> <a href="#" id="KategorierDropdownBtn" class="button expand search-dropdown" data-dropdown="Kategorier">Kategorier</a>
              <ul id="Kategorier" class="small content f-dropdown search-dropdown-content" data-dropdown-content>
<fieldset>
<li>
    <input type="checkbox" id="Frukt-og-grønt" name="fl-categories" value=".Frukt-og-grønt">
    <label for="Frukt-og-grønt">Frukt og grønt</label>
</li>
<li>
    <input type="checkbox" id="Brød" name="fl-categories" value=".Brød">
    <label for="Brød">Brød</label>
</li>
<li>
    <input type="checkbox" id="Meieriprodukter" name="fl-categories" value=".Meieriprodukter">
    <label for="Meieriprodukter">Meieriprodukter</label>
</li>
<li>
    <input type="checkbox" id="Kjott" name="fl-categories" value=".Kjott">
    <label for="Kjott">Kjøtt</label>
</li>
<li>
    <input type="checkbox" id="Fjærkre" name="fl-categories" value=".Fjærkre">
    <label for="Fjærkre">Fjærkre</label>
    </a>
    <li>
        <input type="checkbox" id="Fisk" name="fl-categories" value=".Fisk">
        <label for="Fisk">Fisk</label>
    </li>
    <li>
        <input type="checkbox" id="Oster" name="fl-categories" value=".Oster">
        <label for="Oster">Oster</label>
    </li>
    <li>
        <input type="checkbox" id="Drikkevarer" name="fl-categories" value=".Drikkevarer">
        <label for="Drikkevarer">Drikkevarer</label>
    </li>
    <li>
        <input type="checkbox" id="Olje-og-krydder" name="fl-categories" value=".Olje-og-krydder">
        <label for="Olje-og-krydder">Olje og krydder</label>
    </li>
    <li>
        <input type="checkbox" id="Annet" name="fl-categories" value=".Annet">
        <label for="Annet">Annet</label>
        </a>

</fieldset>
              </ul>
            </div>
            <div class="medium-6 columns"> <a href="#" id="FylkerDropdownBtn" class="button expand search-dropdown" data-dropdown="Fylker">Fylker</a>
              <ul id="Fylker" class="small content f-dropdown search-dropdown-content" data-dropdown-content>
<fieldset>
                <li>
                  <input type="checkbox" id="Akershus" name="fl-categories" value=".Akershus">
                  <label for="Akershus">Akershus</label>
                </li>
                <li>
                  <input type="checkbox" id="Aust-Agder" name="fl-categories" value=".Aust-Agder">
                  <label for="Aust-Agder">Aust-Agder</label>
                </li>
                <li>
                  <input type="checkbox" id="Buskerud" name="fl-categories" value=".Buskerud">
                  <label for="Buskerud">Buskerud</label>
                </li>
                <li>
                  <input type="checkbox" id="Finnmark" name="fl-categories" value=".Finnmark">
                  <label for="Finnmark">Finnmark</label>
                </li>
                <li>
                  <input type="checkbox" id="Hedmark" name="fl-categories" value=".Hedmark">
                  <label for="Hedmark">Hedmark</label>
                </li>
                <li>
                  <input type="checkbox" id="Hordaland" name="fl-categories" value=".Hordaland">
                  <label for="Hordaland">Hordaland</label>
                </li>
                <li>
                  <input type="checkbox" id="Møre-og-Romsdal" name="fl-categories" value=".Møre-og-Romsdal">
                  <label for="Møre-og-Romsdal">Møre og Romsdal</label>
                </li>
                <li>
                  <input type="checkbox" id="Nord-Trøndelag" name="fl-categories" value=".Nord-Trøndelag">
                  <label for="Nord-Trøndelag">Nord-Trøndelag</label>
                </li>
                <li>
                  <input type="checkbox" id="Nordland" name="fl-categories" value=".Nordland">
                  <label for="Nordland">Nordland</label>
                </li>
                <li>
                  <input type="checkbox" id="Oppland" name="fl-categories" value=".Oppland">
                  <label for="Oppland">Oppland</label>
                </li>
                <li>
                  <input type="checkbox" id="Oslo" name="fl-categories" value=".Oslo">
                  <label for="Oslo">Oslo</label>
                </li>
                <li>
                  <input type="checkbox" id="Rogaland" name="fl-categories" value=".Rogaland">
                  <label for="Rogaland">Rogaland</label>
                </li>
                <li>
                  <input type="checkbox" id="Sogn-og-Fjordane" name="fl-categories" value=".Sogn-og-Fjordane">
                  <label for="Sogn-og-Fjordane">Sogn og Fjordane</label>
                </li>
                <li>
                  <input type="checkbox" id="Sør-Trøndelag" name="fl-categories" value=".Sør-Trøndelag">
                  <label for="Sør-Trøndelag">Sør-Trøndelag</label>
                </li>
                <li>
                  <input type="checkbox" id="Telemark" name="fl-categories" value=".Telemark">
                  <label for="Telemark">Telemark</label>
                </li>
                <li>
                  <input type="checkbox" id="Troms" name="fl-categories" value=".Troms">
                  <label for="Troms">Troms</label>
                </li>
                <li>
                  <input type="checkbox" id="Vest-Agder" name="fl-categories" value=".Vest-Agder">
                  <label for="Vest-Agder">Vest-Agder</label>
                </li>
                <li>
                  <input type="checkbox" id="Vestfold" name="fl-categories" value=".Vestfold">
                  <label for="Vestfold">Vestfold</label>
                </li>
                <li>
                  <input type="checkbox" id="Østfold" name="fl-categories" value=".Østfold">
                  <label for="Østfold">Østfold</label>
                </li>
</fieldset>
              </ul>
            </div>

        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="left">
              <fieldset class="checkboxes">
                <legend class="hide">Andre valg</legend>
                {{#is mode "innkjoper"}}<label for="checkbox1"><input id="followedCheckbox" type="checkbox" value=".isFollowing"> Kun produkter jeg liker</label>{{/is}}
                <label for="checkbox2"><input id="checkbox2" type="checkbox" value=".epd-true"> Har EPD-nummer</label>
                <label for="checkbox3"><input id="checkbox3" type="checkbox" value=".grossist-true"> Grossist</label>
                <label for="checkbox4"><input id="checkbox4" type="checkbox" value=".direktedistribuert-true"> Direktedistribuert</label>
              </fieldset>
            </div>
            <div class="right">
              <a href="#" id="m-search-list_filters_more-hook" class="button secondary ghost small">Flere valg</a>
            </div>
          </div>
        </div>
        <div class="row m-search-list_filters_more hide">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-12 columns">
                <fieldset class="checkboxes merkeordninger">
                  <legend>Merkeordninger</legend>
                  <div id="merker" class="row">

                      <div class="small-6 medium-3 columns end">
                        <label for="merkeordning0">
                          <input id="merkeordning0" type="checkbox" value=".nytnorge">
                          <span class="c-merke c-merke-nytnorge"></span> NytNorge </label>
                      </div>

                      <div class="small-6 medium-3 columns end">
                        <label for="merkeordning1">
                          <input id="merkeordning1" type="checkbox" value=".spesialitet">
                          <span class="c-merke c-merke-spesialitet"></span> Spesialitet </label>
                      </div>

                      <div class="small-6 medium-3 columns end">
                        <label for="merkeordning2">
                          <input id="merkeordning2" type="checkbox" value=".bgb">
                          <span class="c-merke c-merke-bgb"></span> Beskyttet </label>
                      </div>

                      <div class="small-6 medium-3 columns end">
                        <label for="merkeordning3">
                          <input id="merkeordning3" type="checkbox" value=".debio">
                          <span class="c-merke c-merke-debio"></span> Debio </label>
                      </div>

                      <div class="small-6 medium-3 columns end">
                        <label for="merkeordning4">
                          <input id="merkeordning4" type="checkbox" value=".nøkkelhull">
                          <span class="c-merke c-merke-nokkelhull"></span> Nøkkelhullet </label>
                      </div>

                      <div class="small-6 medium-3 columns end">
                        <label for="merkeordning5">
                          <input id="merkeordning5" type="checkbox" value=".msc">
                          <span class="c-merke c-merke-msc"></span> MSC </label>
                      </div>

                </fieldset>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="large-12 columns">
                <fieldset class="checkboxes sesong">
                  <legend>Sesong</legend>
                  <div class="row collapse">

                        <div class="small-3 medium-1 columns">
                          <label for="sesong0">
                            <input id="sesong0" type="checkbox" value=".januar"> Jan </label>
                        </div>
                      
                        <div class="small-3 medium-1 columns">
                          <label for="sesong1">
                            <input id="sesong1" type="checkbox" value=".februar"> Feb </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong2">
                            <input id="sesong2" type="checkbox" value=".mars"> Mar </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong3">
                            <input id="sesong3" type="checkbox" value=".april"> Apr </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong4">
                            <input id="sesong4" type="checkbox" value=".mai"> Mai </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong5">
                            <input id="sesong5" type="checkbox" value=".juni"> Jun </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong6">
                            <input id="sesong6" type="checkbox" value=".juli"> Jul </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong7">
                            <input id="sesong7" type="checkbox" value=".august"> Aug </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong8">
                            <input id="sesong8" type="checkbox" value=".september"> Sep </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong9">
                            <input id="sesong9" type="checkbox" value=".oktober"> Okt </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong10">
                            <input id="sesong10" type="checkbox" value=".november"> Nov </label>
                        </div>

                        <div class="small-3 medium-1 columns">
                          <label for="sesong11">
                            <input id="sesong11" type="checkbox" value=".desember"> Des </label>
                        </div>

                  </div>
                </fieldset>
              </div>
          </div>
          </div>
        </div>
      </form>


	    <div class="m-search-list_summary">

        <div class="row">

          <div class="large-8 columns">
            <h4 class="hide">Viser lokalmat fra hele Norge</h4>
            <ul id="tagslist" class="inline-list">
            <fieldset>
            </fieldset>
              <!-- <li v-repeat="tag: selectedCategories"><span class="label filter">\{{ tag }} <button tabindex="0" class="close" aria-label="Fjern filter" v-on="click: removeTag(tag)">&times;</button></span></li> -->
            </ul>
          </div>
          <div class="large-4 columns text-right">
            {{#is mode "innkjoper"}}
            <a href="#" class="button ghost" data-reveal-id="modal-lagre-sok">Lagre søk</a>
            {{/is}}
          </div>

        </div>

	    </div>

      <div class="m-search-list_results">

        <div class="row">

          <div class="large-12 columns">
            <div id="listings" class="c-list is-3wide">



            </div>
          </div>

        </div>

        <div class="m-search_list_pagination">
          <div class="row">
            <div class="small-12 columns">
              <div class="left">
                {{>c-pagination}}
              </div>
              <div class="medium-right">
                <a href="#" class="button info ghost">Eksporter til Excel</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </aside>

    <div id="map" class="m-search-map show-for-{{showMap}}-up"></div>

    {{>m-modal-lagre-sok}}

  {{/content}}

{{/extend}}
