---
title: Aktuelt
bodyclass: has-padding-tb
innkjoper-nav: true
sortOrder: 01
---

{{#extend "tpl-default"}}
	{{#content "body"}}

		{{#times 2}}
		<section class="row">
			<div class="large-10 large-centered columns">
				<header class="c-section-header">
					<h3>Nye treff i ditt lagrede søk <a href="lagrede-sok.html">«Iskrem»</a></h3>
				</header>
				<div class="c-list is-3wide">
					{{#each ../soketreff}}
						{{#withFirst this.pages 3}}
							{{>c-product}}
						{{/withFirst}}
					{{/each}}
				</div>
				<a href="#" class="button ghost">Viser 2 av 9 treff</a>
			</div>
		</section>
		{{/times}}

		{{!--
		<section class="row">
			<div class="large-10 large-centered columns">
				<header class="c-section-header">
					<h3>Nytt produkt fra <a href="aronia.html">Aronia Jæren</a></h3>
				</header>
				<div class="c-list is-3wide">
					{{#each product}}
						{{#withFirst this.pages 1}}
							{{>c-product}}
						{{/withFirst}}
					{{/each}}
				</div>
				<a href="aronia.html" class="button ghost">Se produsent</a>
			</div>
		</section>
		--}}

		{{!--
		<section class="row">
			<div class="large-10 large-centered columns">
				<header class="c-section-header">
					<h3>Nye produsenter</h3>
				</header>
				<div class="c-list is-3wide">
					{{#each new-producer}}
						{{#withFirst this.pages 3}}
							{{>c-producer}}
						{{/withFirst}}
					{{/each}}
				</div>
			</div>
		</section>
		--}}

	{{/content}}
{{/extend}}
