---
title: I mitt sortiment
innkjoper-nav: false
sortOrder: 03
has-search-filters: true
---

{{#extend "tpl-default"}}
	{{#content "body"}}

    <div class="row">
      <div class="large-12 columns">

				<div class="c-list is-4wide">
					{{#each i-mitt-sortiment}}
						{{#each this.pages}}
							{{>c-product}}
						{{/each}}
					{{/each}}
				</div>

				<!-- {{>c-pagination}} -->

      </div>
    </div>

	{{/content}}
{{/extend}}
