---
title: Profilbilde
lead: Etiam porta sem malesuada magna mollis euismod.
bodyclass: has-padding-tb
innkjoper-nav: false
sortOrder: 07

nav-innkjoper-rediger-profil: true
nav-sidenav-title: Profilbilde
---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		<ul class="side-nav" role="navigation">
			{{>m-innkjoper-redigerprofil-sidenav}}
		</ul>
	{{/content}}

	{{#content "content" mode="append"}}
		<form data-abide>
			{{#each rediger-profil-innkjoper}}
				{{>c-form}}
			{{/each}}
		</form>
	{{/content}}

{{/extend}}
