---
title: Innstillinger
lead: Tekst som forklarer at dette skjer på prodreg.no. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
bodyclass: has-padding-tb
innkjoper-nav: true
sortOrder: 06

nav-innkjoper-rediger-profil: true
nav-sidenav-title: Generelt
---

{{#extend "tpl-forms"}}

	{{#content "aside"}}
		<ul class="side-nav" role="navigation">
			{{>m-innkjoper-redigerprofil-sidenav}}
		</ul>
	{{/content}}

	{{#content "content" mode="append"}}
	
		{{>c-prodreg}}

		<hr>

		<form data-abide>
			<h3 class="mb1">Data fra Produsentregisteret</h3>
			{{#each rediger-profil-innkjoper-generelt}}
				{{>c-form}}
			{{/each}}
		</form>

	{{/content}}

{{/extend}}
