---

title: Lagrede søk
bodyclass: has-padding-tb

innkjoper-nav: true
sortOrder: 05

---

{{#extend "tpl-default"}}
	{{#content "body"}}

		<div class="row">
			<div class="large-8 large-centered columns">

				<div class="row">
					<div class="large-12 columns">

						{{>c-page-header}}

						{{#each lagrede-sok}}
							<div class="panel alternate">
								<div class="row collapse valign-middle">
									<div class="medium-6 columns">
										<h3><a href="#">{{navn}}</a></h3>
									</div>
									<div class="medium-4 columns">
										<fieldset class="switch" tabindex="0">
											<input id="epost{{@index}}" type="checkbox" {{#if epost}} checked {{/if}}>
											<label for="epost{{@index}}">Epost-varsling</label>
											<span class="inline">Epost-varsling</span>
										</fieldset>
									</div>
									<div class="medium-2 columns">
										<button class="button ghost info medium-right" data-reveal-id="modal-slett">Slett</button>
									</div>
								</div>
							</div>
						{{/each}}

					</div>
				</div>

			</div>
		</div>

	{{/content}}
{{/extend}}
