---
title: Produsenter jeg følger
bodyclass: has-padding-tb
innkjoper-nav: true
sortOrder: 04
---

{{#extend "tpl-default"}}
	{{#content "body"}}

  <div class="row">
    <div class="large-12 columns">

			<div class="c-list is-4wide">
				{{#each following-producer}}
					{{#each this.pages}}
						{{>c-producer}}
					{{/each}}
				{{/each}}
			</div>

    </div>
  </div>

	{{/content}}
{{/extend}}
