---
title: Lagrede produkter
innkjoper-nav: true
sortOrder: 02
has-search-filters: true
---

{{#extend "tpl-default"}}
	{{#content "body"}}

    <div class="row">
      <div class="large-12 columns">

				<div class="c-list is-4wide">
					{{#each following-product}}
						{{#each this.pages}}
							{{>c-product}}
						{{/each}}
					{{/each}}
				</div>

				<!-- {{>c-pagination}} -->

      </div>
    </div>
<div id="map"></div>
	{{/content}}
{{/extend}}
