{{#is type "status"}}
  <div class="row">
  	<div class="large-12 columns">
			<label>Status
				<select class="c-state">
					<option value="publisert">Publisert</option>
					<option value="skjult" selected>Skjult</option>
				</select>
			</label>
  	</div>
  </div>
{{/is}}

{{#is type "text"}}
  <div class="row">
    <div class="large-{{columns}} columns">
      <label>{{label}} {{>c-form-tooltip}}
        <input type="text" {{>c-form-placeholder}} {{>c-form-value}} {{>c-form-required}} {{>c-form-disabled}} />
      </label>
      {{>c-form-error}}
    </div>
  </div>
{{/is}}

{{#is type "url"}}
  <div class="row">
    <div class="large-{{columns}} columns">
      <label>{{label}} {{>c-form-tooltip}}
        <input type="url" {{>c-form-placeholder}} {{>c-form-value}} {{>c-form-required}} />
      </label>
      {{>c-form-error}}
    </div>
  </div>
{{/is}}

{{#is type "textarea"}}
  <div class="row">
    <div class="large-{{columns}} columns">
      <label>{{label}} {{>c-form-tooltip}}
        <textarea rows="{{rows}}" {{>c-form-placeholder}}  {{>c-form-required}}>{{>c-form-value-textarea}}</textarea>
      </label>
      {{>c-form-error}}
    </div>
  </div>
{{/is}}

{{#is type "toggle"}}
  <div class="row">
    <div class="large-12 columns">
      <fieldset class="switch" tabindex="0">
        <legend>{{label}} {{>c-form-tooltip}}</legend>
        <input id="exampleCheckboxSwitch4" type="checkbox" {{#if default}} checked {{/if}}>
        <label for="exampleCheckboxSwitch4">{{label}}</label>
        <span class="inline">{{label}}</span>
      </fieldset>
    </div>
  </div>
{{/is}}

{{#is type "radio"}}
<fieldset class="radios">
<legend>{{label}} {{>c-form-tooltip}}</legend>
<div class="row">
  <div class="large-12 columns">
  {{#each options}}
    <label for="{{hyphenate ...label}}{{@index}}">
      <input type="radio" name="{{hyphenate ...label}}" value="{{this}}" id="{{hyphenate ...label}}{{@index}}"{{#is this.checked true}} checked{{/is}}> {{this.name}}
    </label>
  {{/each}}
</div>
</div>
</fieldset>
{{/is}}

{{#is type "checkbox"}}
<fieldset class="checkboxes">
<legend>{{label}} {{>c-form-tooltip}}</legend>
<div class="row">
  <div class="large-12 columns">
  {{#each options}}
    <label for="{{hyphenate ...label}}{{@index}}">
      <input type="checkbox" id="{{hyphenate ...label}}{{@index}}"{{#is this.checked true}} checked{{/is}}> {{this.name}}
    </label>
  {{/each}}
</div>
</div>
</fieldset>
{{/is}}

{{#is type "select"}}
  <div class="row">
    <div class="large-{{columns}} columns">
      <label>{{label}} {{>c-form-tooltip}}
        <select>
          <option selected disabled>Velg…</option>
          {{#each options}}
            <option value="{{hyphenate this}}"{{#is this.selected true}} selected{{/is}}>{{this.name}}</option>
          {{/each}}
        </select>
      </label>
    </div>
  </div>
{{/is}}

{{#is type "koordinater"}}
  <fieldset>
    <legend>{{label}} {{>c-form-tooltip}}</legend>
    <p>Tekst som forklarer hvordan man kan finne sine koordinater med <a href="#">lenke til side</a>.
      <div class="row">
        <div class="large-6 columns">
          <label class="small">
            <input type="text" value="59.5475852" /> Latitude
          </label>
        </div>
        <div class="large-6 columns">
          <label class="small">
            <input type="text" value="11.3666188" /> Longitude
          </label>
        </div>
      </div>
  </fieldset>
{{/is}}

{{#is type "profilepic"}}
  <fieldset>
    <legend>{{label}} {{>c-form-tooltip}}</legend>
    <div class="m-profilepic medium" style="background-image:url('/media/bamsrudlaven/profile-bamsrudlaven.jpg')">
    </div>
		<button class="file-upload button ghost info left">Last opp
		  <input type="file" name="documents" />
		</button>
  </fieldset>
{{/is}}

{{#is type "sesong"}}
  {{>c-form-sesong}}
{{/is}}

{{#is type "varedeklarasjon"}}
  {{>c-form-varedeklarasjon}}
{{/is}}

{{#is type "bilder"}}
  {{>c-form-bilder}}
{{/is}}

{{#is type "submit"}}
  <div class="row nest form-footer">
    <div class="small-12 columns">
      <hr>
    </div>
    {{#if back-button}}
    <div class="small-6 columns">
      <a href="#" class="button ghost info">Tilbake</a>
    </div>
    {{/if}}
    <div class="small-5 columns text-right right">
      <button type="submit" class="button save disabled expand">{{submit-text}}</button>
    </div>
  </div>
{{/is}}
