{{#is mode "innkjoper"}}
  <div class="c-subnav sticky contain-to-grid hide-for-small-only hide-for-medium-only">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name">
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">

        <ul class="left">
          {{#each innkjoper-nav}}
            {{#withSort pages 'data.sortOrder'}}
              <li{{#is ../../page.dest this.dest}} class="active"{{/is}}>
                <a href="{{this.filename}}">{{data.title}}</a>
              </li>
            {{/withSort}}
          {{/each}}
        </ul>

      </section>
    </nav>
  </div>
{{/is}}
