<div class="c-login-panel">
  <h3>Logg inn for å se mer</h3>
  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  <a class="button" data-reveal-id="modal-login">Logg inn</a>
</div>
