<ul class="inline-list mb">
  {{#each page.merkeordninger}}
  <li>
    <span data-tooltip aria-haspopup="true" class="has-tip tip-top" title="{{.}}">
      <span class="c-merke c-merke-{{lowercase .}} c-merke-large"></span>
    </span>
    <span class="hide">{{.}}</span>
  </li>
  {{/each}}
</ul>
