<header class="c-page-header">

  <div class="row">
  {{#is basename "mine-produkter"}}

    <div class="medium-6 columns">
      <h2>{{title}}</h2>
    </div>
    <div class="medium-6 columns medium-text-right">
      <a href="#" class="button ghost">Nytt produkt</a>
    </div>

  {{else}}

  {{#is basename "lagrede-sok"}}

    <div class="medium-6 columns">
      <h2>{{title}}</h2>
    </div>
    <div class="medium-6 columns medium-text-right">
      <a href="search.html" class="button ghost">Nytt søk</a>
    </div>

  {{else}}

    <div class="small-12 columns">
      <h2>{{title}}</h2>
      {{#if lead}}<p class="lead">{{lead}}</p>{{/if}}
    </div>

  {{/is}}
  {{/is}}
  </div>

</header>
