<p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis.</p>
<a href="http://prodreg.no" class="button" target="_blank">Gå til produsentregisteret</a>