<div class="c-list-item-wrap">

<div class="c-product">

<div class="c-product-image" style="background-image:url('{{#is bodyclass "search"}}\{{ properties.media }}{{else}}/media/{{#withFirst data.gallery 1}}{{.}}{{/withFirst}}{{/is}}')">
</div>

<div class="c-product-info">
  <h3 class="c-product-info_title">{{data.title}}</h3>
  <p class="c-product-info_likes"><span class="fi-heart"></span> {{data.likes}} liker</p>
  <a href="{{#is basename "gardsis-krokan"}}01-grunnleggende.html{{else}}#{{/is}}" class="button info ghost small edit">Rediger</a>
</div>

<a href="{{pagename}}" class="c-product-link">Gå til produkt</a>

</div>

</div>
