<div class="c-list-item-wrap">

<div class="c-product is-animated">

<div class="c-product-image" style="background-image:url('/media/{{#withFirst data.gallery 1}}{{.}}{{/withFirst}}')">

  {{#if data.following-product}}
  <button type="button" class="button heart active"><span class="hide">Lik</span></button>
  {{else}}
  <button type="button" class="button heart"><span class="hide">Lik</span></button>
  {{/if}}

</div>

<div class="c-product-info">

  {{!--
  {{#if data.i-mitt-sortiment}}
    <span class="c-product-info_tag">I mitt sortiment</span>
  {{/if}}
  --}}

  <p class="c-product-info_producer">{{data.tags}}</p>
  <h3 class="c-product-info_title">{{data.title}}</h3>
  <p class="c-product-info_desc">{{data.kort-beskrivelse}}</p>

</div>

<ul class="c-product-info_tags inline-list">
  {{#each data.labels}}
  <li><a href="#" class="label product">{{this}}</a></li>
  {{/each}}
  {{#each data.fylke}}
  <li><a href="#" class="label product">{{this}}</a></li>
  {{/each}}
</ul>

<a href="{{pagename}}" class="c-product-link">Gå til produkt</a>

</div>

</div>
