<div class="c-list-item-wrap">

<div class="c-producer">
  <div class="c-producer-image" style="background-image:url('/media/{{#withFirst data.gallery 1}}{{.}}{{/withFirst}}');">
  </div>
  <div class="c-producer-info">
    <div class="m-profilepic is-lifted medium" style="background-image:url('/media/{{data.profilepicture}}')">
    </div>
    <h3>{{data.title}}</h3>
    <p class="c-location">{{data.sted}}</p>
    <p>{{truncate data.kort-beskrivelse 120 "..."}}</p>
    <a class="c-producer-link" href="{{pagename}}">Gå til produsent</a>
    {{#if data.following-producer}}
    <button class="button small follow is-following">Følger</button>
    {{else}}
    <button class="button small follow">Følg</button>
    {{/if}}
  </div>
</div>

</div>
