<div class="container">
  <div class="row">
    <div class="small-12 columns">

      <header class="c-section-header">
        <h3 class="is-red">
        {{#if page.product}}
        Andre produkter fra <a href="{{page.producer-link}}">{{#page.tags}}{{.}}{{/page.tags}}</a>
        {{else}}
        Alle produkter fra {{title}}
        {{/if}}
        </h3>
      </header>

      <div class="c-list is-4wide">

			{{#each product}}
				{{#each this.pages}}
          {{#ifCond ../../pagename data.producer-link}}
            {{>c-product}}
          {{/ifCond}}
				{{/each}}
			{{/each}}

			{{#each product}}
				{{#each this.pages}}
          {{#ifCond ../../producer-link data.producer-link}}
            {{>c-product}}
          {{/ifCond}}
				{{/each}}
			{{/each}}

      </div>

    </div>
  </div>
</div>
