{{#is mode "produsent"}}

{{#is has-sticky true}}

    <div class="c-subnav sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1>
              {{#if sticky-title}}
                {{sticky-title}}
              {{else}}
                {{title}}
              {{/if}}
            </h1>
          </li>
        </ul>
        {{#if sticky-button}}
        <section class="top-bar-section keep">
          <ul class="right">
            <li class="has-form">
              <a
                href="{{#if sticky-button-link}}{{relative this sticky-button-link}}{{else}}#{{/if}}"
                class="button info">{{sticky-button}}</a>
            </li>
            {{#if sticky-save}}
            <li class="has-form">
              <button class="button disabled save">Lagre</button>
            </li>
            {{/if}}
          </ul>
        </section>
        {{/if}}
      </nav>
    </div>

{{/is}}

{{/is}}
