<div class="row nest">
  <div class="small-12 columns">

		<button class="file-upload button large primary">Last opp bilder
		  <input type="file" name="documents" />
		</button>

    <p>De tre første bildene vises i toppen av produktsiden.<br/>Resten av bildene vil vises i bildegalleriet.</p>

    <hr>

    <div class="c-images">

    {{#times 5}}
    <div class="panel">
      <div class="row">
        <div class="small-4 columns">
          <img src="/media/bamsrud1.jpg" />
        </div>
        <div class="small-8 columns">
          <textarea rows="3">Bildetekst her</textarea>
          <div class="row">
            <div class="small-12 columns">
              <div class="left">
                <button class="button ghost info small">Slett</button>
              </div>
              <div class="right">
                <button class="button ghost info small">
                  <i class="fi-arrow-up"></i>
                  Opp
                </button>
                <button class="button ghost info small">
                  <i class="fi-arrow-down"></i>
                  Ned
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/times}}

    </div>

  </div>
</div>
