<fieldset class="checkboxes sesong">
<legend>Sesong</legend>

  <div class="row collapse">

    <div class="small-3 medium-2 columns">
    <label for="sesong1">
      <input id="sesong1" type="checkbox">
      Jan
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong2">
      <input id="sesong2" type="checkbox">
      Feb
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong3">
      <input id="sesong3" type="checkbox">
      Mar
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong4">
      <input id="sesong4" type="checkbox">
      Apr
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong5">
      <input id="sesong5" type="checkbox">
      Mai
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong6">
      <input id="sesong6" type="checkbox">
      Jun
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong7">
      <input id="sesong7" type="checkbox">
      Jul
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong8">
      <input id="sesong8" type="checkbox">
      Aug
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong9">
      <input id="sesong9" type="checkbox">
      Sept
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong10">
      <input id="sesong10" type="checkbox">
      Okt
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong11">
      <input id="sesong11" type="checkbox">
      Nov
    </label>
    </div>

    <div class="small-3 medium-2 columns">
    <label for="sesong12">
      <input id="sesong12" type="checkbox">
      Des
    </label>
    </div>

  </div>

</fieldset>

<div class="row">
  <div class="large-12 columns">
    <label>Kommentar til sesongtilgjengelighet
      <input type="text" />
    </label>
    {{>c-form-error}}
  </div>
</div>
