<div class="row">
  <div class="small-12 columns">

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-energi" class="inline">Energi</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-energi" value="3014 kj">
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-fett" class="inline">Fett</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-fett" value="81g">
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-fettsyrer" class="inline">– mettede fettsyrer</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-fettsyrer" value="53g">
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-kardohydrater" class="inline">Karbohydrater</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-kardohydrater" value="0,50g">
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-sukkerarter" class="inline">– sukkerarter</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-sukkerarter" value="0,50g">
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-protein" class="inline">Protein</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-protein" value="0,50g">
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-6 columns">
        <label for="varedek-salt" class="inline">Salt</label>
      </div>
      <div class="small-5 medium-6 columns">
        <input type="text" id="varedek-salt" value="2,50g">
      </div>
    </div>

  </div>
</div>
