.accordion-navigation {
  border-top: 1px solid $gray-light-color;
  margin: rem-calc(20 0);
  padding-top: rem-calc(20);
  &:first-child {
    border-top: 0;
  }
}

.accordion-navigation a {
  font-weight: $font-weight-bold;
  margin-bottom: rem-calc(6);
}
