.aside-padding {
  @media #{$medium-up} {
    padding-right: rem-calc(40);
  }
  @media #{$large-up} {
    padding-right: rem-calc(60);
  }
}

aside hr {
  margin: rem-calc(30 0 20);
}

aside .delete {
  margin-top: rem-calc(40);
}
