html, body {
	background: darken($footer-bg, 4%);
	@media #{$xlarge-up} {
		font-size: 18.6px;
	}
}

$body-padding: 20;
$body-padding-medium: 40;
$body-padding-xlarge: 60;

body.has-padding-b main {
	padding: rem-calc(0 0 ($body-padding*2));
	@media #{$medium-up} {
		padding: rem-calc(0 0 ($body-padding-medium*2));
	}
	@media #{$xlarge-up} {
		padding: rem-calc(0 0 ($body-padding-xlarge*2))
	}
}

body.has-padding-tb main {
	padding: rem-calc($body-padding 0 ($body-padding*2));
	@media #{$medium-up} {
		padding: rem-calc($body-padding-medium 0 ($body-padding-medium*2));
	}
	@media #{$xlarge-up} {
		padding: rem-calc($body-padding-xlarge 0 ($body-padding-xlarge*2))
	}
}
