$follow-color: $success-color;
$like-color: $secondary-color;

%heart-animation {
	transition-delay: .25s;
	opacity: 1;
	animation: bounce .5s 0s;
	transform: scale(1);
}

.button.follow,
.button.like {
  transition: none;
  outline: 0;
}

.button.follow {
  background: $secondary-color;
  min-width: 8em;
  &:before {
    content: "";
    font-family: $font-icons;
    line-height: 0;
    position:relative;
    top: rem-calc(1);
  }
}
.button.follow.is-following {
  &,
  &.is-following-temp,
  &.is-following-temp:hover {
    background-color: transparent;
    color: $follow-color;
    box-shadow: inset 0 0 0 2px $follow-color;
    &:before {
      content: "\f126";
      color: $follow-color;
      margin-right: rem-calc(4);
    }
  }
  &:hover {
    background: $primary-color;
    box-shadow: none;
    color: $white;
    &:before {
      content: "\f217";
      color: $white;
    }
  }
}

.button {
	white-space: nowrap;
}

.button.like {
  background: $info-color;
  min-width: 13em;
  &:before {
    content: "\f159";
    -webkit-text-stroke: 1.5px $white;
    color: transparent;
    font-family: $font-icons;
    font-size: rem-calc(22);
    line-height: 0;
    margin-right: rem-calc(6);
    margin-left: rem-calc(-6);
    position:relative;
    top: rem-calc(4);
  }
}
.button.like.is-liking {
  &,
  &.is-liking-temp,
  &.is-liking-temp:hover {
    background-color: $like-color;
    color: $white;
    box-shadow: inset 0 0 0 2px $like-color;
    &:before {
      content: "\f159";
      color: $white;
    }
  }
	&.is-liking-temp:before {
		@extend %heart-animation;
    transition: all 150ms;
	}
  &:hover {
    background: $primary-color;
    box-shadow: none;
    color: $white;
    &:before {
      content: "\f217";
      -webkit-text-stroke: none;
    }
  }
}

.button {
  @include radius();
  &,
  .top-bar-section ul li > & {
    text-transform: uppercase;
    @extend %tjukk;
  }
}

.button.facebook {
  @include button($bg: $facebook-color);
  @include radius();
}

.button.twitter {
  @include button($bg: $twitter-color);
  @include radius();
}

.button.link {
  @include button($bg: transparent);
  &, &:hover {
    color: $gray-color;
  }
  padding: 0;
  background: transparent;
  @media #{$medium-up} {
    margin: 0;
  }
}

$delete-color: scale-color($alert-color, $lightness: 60%);

.button.delete {
  @include button($bg: $delete-color);
  @include radius();
}

.ghost {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px currentColor;
  color: $primary-color;

  &:hover {
    color: $white;
    box-shadow: inset 0 0 0 2px $primary-color;
    background-color: $primary-color;
  }

  &.secondary {
    background-color: transparent;
    color: $secondary-color;
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 2px $secondary-color;
      background-color: $secondary-color;
    }
  }
  &.alert {
    background-color: transparent;
    color: $alert-color;
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 2px $alert-color;
      background-color: $alert-color;
    }
  }
  &.success {
    background-color: transparent;
    color: $success-color;
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 2px $success-color;
      background-color: $success-color;
    }
  }
  &.warning {
    background-color: transparent;
    color: $warning-color;
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 2px $warning-color;
      background-color: $warning-color;
    }
  }
  &.info {
    background-color: transparent;
    color: $info-color;
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 2px $info-color;
      background-color: $info-color;
    }
  }
  &.delete {
    background-color: transparent;
    color: $delete-color;
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 2px $delete-color;
      background-color: $delete-color;
    }
  }
}

button.file-upload > input[type='file'] {
  cursor: pointer;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}
