$dropdown-curve: cubic-bezier(.3, 0, 0, 1.3);
$dropdown-time: 250ms;

.f-dropdown.open,
.dropdown {
  box-shadow:
		0px 0px 0px 1px rgba(0,0,0,0.15),
		0px 2px 9px 1px rgba(0,0,0,0.15);
	border-radius: 2px;
}

.f-dropdown,
.dropdown {
  opacity: 0;
  pointer-events: none;
  transform: scale(.8) translateY(-15%);
}

.has-dropdown.hover .dropdown,
.f-dropdown.open {
	opacity: 1;
  pointer-events: auto;
  transform: none;
  z-index: 999999;
}

.dropdown {
	transition: $dropdown-time;
  transition: .4s $dropdown-curve;
}

.f-dropdown {
  display: block !important;
	transition:
    left 0ms,
    display 0ms,
    opacity $dropdown-time $dropdown-curve,
    transform $dropdown-time $dropdown-curve;
}
