%strip-label-styling {
  text-transform: none;
  font-weight: $font-weight-normal;
  letter-spacing: normal;
}

.checkboxes,
.radios {
  label {
    @extend %strip-label-styling;
    font-size: $input-font-size;
    color: $input-font-color;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-bottom: rem-calc(10);
    margin-right: rem-calc(2);
  }
}

fieldset {
  label {
    @extend %strip-label-styling;
  }
  label.small {
    font-size: rem-calc(14);
    color: $charcoal;
  }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    margin-bottom: rem-calc(4);
  }
  p {
    margin-bottom: .35rem;
  }
}

.switch {
  padding: $fieldset-padding;
  margin-bottom: rem-calc(16);
  input[type="checkbox"] + label, input[type="radio"] + label {
    margin-left: 0;
  }
  label, .inline {
    float: left;
  }
  label {
    text-indent: 0 !important;
  }
  .inline {
    margin: rem-calc(6 0 0 10);
  }
}

label {
  @extend %tjukk;
  color: $charcoal;
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
    margin-top: rem-calc(8);
  }
}

legend {
  @extend %tjukk;
  font-size: $form-label-font-size;
  color: $charcoal;
}

input, textarea, select {
  .error & {
    border-color: $alert-color;
  }
}

input[type="checkbox"],
input[type="radio"] {
  + label {
    letter-spacing: normal;
    text-transform: none;
    font-weight: $font-weight-normal;
    font-size: $input-font-size;
    margin-left: rem-calc(7);
  }
}

fieldset .m-profilepic {
  display: inline-block;
  float: left;
}

.m-profilepic + .file-upload {
  margin-top: rem-calc(22);
}

.form-footer {
  padding-top: rem-calc(20);
}
