.label.product {
  @include label(
    $padding: 14px 20px 12px,
    $text-size: 18px,
    $bg: $white,
    $radius: 50px
  );
  color: $primary-color;
  border: 1px solid $body-bg;
  transition: $input-transition-fade-time;

  &:hover {
    border-color: adjust-color($primary-color, $hue: 0deg, $saturation: 25, $lightness: 35);
  }
}

.label.frysevare {
  @include label(
    $bg: #6EC3FF
  );
  color: $white;
}

.label.filter {
  @include label(
    $padding: $button-lrg rem-calc(16),
    $text-size: $h4-font-size,
    $bg: $white,
    $radius: 50px
  );
  margin-bottom: rem-calc(8);
  font-weight: $font-weight-bold;
  color: $primary-color;
  button {
    margin: 0;
    padding: rem-calc(0 5);
    background: none;
    color: $gray-color;
    &:hover{
      color: $primary-color
    }
  }
}
