$marker-size: 10px;

.marker {
    display: block;
    background: $primary-color;
    width: $marker-size;
    height: $marker-size;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 2px $white, 0 1px 4px 1px rgba(0,0,0,.5);
    border-radius: 50%;
    &.active {
      //background: $secondary-color;
    }
}

.leaflet-popup-content-wrapper {
  padding: 0;
}

.leaflet-popup-content {
  padding: 0 !important;
  .producer {
    .m-profilepic.is-lifted {
      margin: 0 0 0rem;
      transform: translateY(-50%);
    }
  }
}

.leaflet-container {
  p.text-small {
    font-size: rem-calc(12);
    font-family: $font-family-sans-serif;
  }
  h3 {
    font-size: rem-calc(15) !important;
    margin: rem-calc(-6 0 5) !important;
  }
}
