.panel {
  border-radius: $global-radius*1.35;
}

.panel .epd {
  color: $gray-color;
}

.panel.alternate {

  background: $white;
  border: none;
  padding: rem-calc(25);


  @media #{$medium-up} {
    h3 {
      margin-bottom: 0;
      + p {
        margin-top: rem-calc(8);
      }
    }
  }

  p {
    margin-bottom: 0;
    color: $gray-color !important;
  }

  .button {
    margin-bottom: 0;
  }

  fieldset {
    margin: 0;
  }

}
