$side-nav-active-padding: rem-calc(12);

.side-nav {
  li a {
    padding-left: 0;
    transition: 250ms;
  }
  li a:hover {
    padding-left: $side-nav-active-padding;
  }
  li a:active {
    color: $secondary-color !important;
  }
  li.active a:hover {
    padding-left: 0;
  }
  .active {
    background: $secondary-color;
    padding-left: $side-nav-active-padding;
  }
  .step-complete,
  .step-incomplete {
    position: relative;
    &:before {
      font-family: $font-icons;
      position: absolute;
      top: 0;
      right: $side-nav-active-padding;
      padding: $side-nav-link-padding;
    }
  }
  .step-complete:before {
    content: "\f126";
    color: $success-color;
  }
  .step-incomplete:before {
    content: "\f199";
    color: $info-color;
  }
  .active.step-complete:before,
  .active.step-incomplete:before {
    color: $side-nav-link-color-active;
  }
}
