.tabs {
  font-weight: $font-weight-bold;
  &.has-border {
    border-bottom: $border-greydotted;
  }

  li {
    margin-right: 1.25em;
  }
  a:hover {
    color: $tabs-navigation-active-font-color;
  }
}

.tabs dd > a,
.tabs .tab-title > a {
  padding-bottom: .4em;
}

.tabs.large dd > a,
.tabs.large .tab-title > a {
  font-size: $h4-font-size;
}

.tabs .active a {
  border-bottom: .25em solid $secondary-color;
}
