table {
  width: 100%;

  th,
  td {
    vertical-align: top;
  }

  thead {
    border-bottom: $border-reddotted;
    th {
      @extend %tjukk;
      font-size: rem-calc(14) !important;
    }
  }

  tbody th {
    color: $gray-color;
  }

  &.is-bordered {
    tr {
      border-bottom: $border-greydotted;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &.is-striped {
    tr {
      &.even,
      &.alt,
      &:nth-of-type(odd) { background: scale-color($white, $lightness: -3%); }
    }
  }

  &.is-stretched {
    tbody tr th,
    tbody tr td {
      padding: rem-calc(14 0 12);
    }
    tbody tr:first-child th,
    tbody tr:first-child td {
      padding-top: rem-calc(8);
    }
  }

  td p:last-child {
    margin-bottom: 0;
  }

}

table ul {
  font-size: $table-row-font-size;
  margin-bottom: 0;
}

table caption {
  text-align: left;
  margin-top: rem-calc(8);
  padding-bottom: rem-calc(10);
}
