.is-red {
  color: $primary-color;
}

.is-yellow {
  color: $secondary-color;
}

.has-divider {
  border-top: 2px dashed currentColor;
  padding-top: 1em;
  margin-top: 2em;
}

p.lead {
  font-size: $lead-font-size;
  font-weight: $font-weight-bold;
  color: $charcoal;
  max-width: 40em;
}

.fade {
  color: $gray-color;
}

.color-alert {
  color: $alert-color;
}
.color-warning {
  color: $warning-color;
}
.color-success {
  color: $success-color;
}

ul {
  list-style:square;
}
