@media #{$medium-up} {
  .valign-middle {
    width: 100% !important;
    display: table;
    > .columns {
      display: table-cell;
      vertical-align: middle;
    }
    > .columns,
    > [class*="column"] + [class*="column"]:last-child {
      float: none;
    }
  }
}
