$gallery-height: 250px;
$gallery-height-large: 500px;
$gallery-featured-width-cols: 8;
$gallery-bp: $medium-up;

@mixin gallery-height($ratio: 1) {
	height: $gallery-height/$ratio;
	@media #{$medium-up} {
		height: $gallery-height-large/$ratio;
	}
}

.producer .c-gallery_empty {
	height: rem-calc(150);
	background: $gray-dark-color;
}

.c-gallery {
	position: relative;

	overflow: hidden;

	width: 100%;

	@include gallery-height();

	li {
		position: relative;

		float: left;
		overflow: hidden;

		margin: 0;

		cursor: zoom-in;
		transition: 0.15s;

		background-position: center center;
		background-size: cover;

		object-fit: cover;

		&:hover {
			opacity: 0.6;
		}
	}
}

.clearing-assembled {
	img {
		display: block;
		width: auto;
	}

	&:not(.clearing-blackout) {
		img {
			opacity: 0;
		}

		.c-gallery {
			.c-gallery-slide0 {
				@include gallery-height();
			}

			&_1 {
				.c-gallery-slide0 {
					width: 100%;
				}
			}

			&_3,
			&_2 {
				.c-gallery-slide0 {
					@media #{$small-only} {
						width: 100%;
					}
					@media #{$medium-up} {
						@include grid-column($columns: $gallery-featured-width-cols, $collapse:true);
					}
				}
			}

			.c-gallery-slide1,
			.c-gallery-slide2 {
				display: none;
				@media #{$medium-up} {
					display: block;

					@include grid-column($columns: (12-$gallery-featured-width-cols), $collapse:true);
				}
			}

			&_3 {
				.c-gallery-slide1,
				.c-gallery-slide2 {
					@include gallery-height(2);
				}
			}

			&_2 {
				.c-gallery-slide1 {
					@include gallery-height(1);
				}
				.c-gallery-slide2 {
					display: none;
				}
			}

			&_1 {
				.c-gallery-slide1,
				.c-gallery-slide2 {
					display: none;
				}
			}
		}
	}
}
