.c-hero {
  position: relative;
  overflow: hidden;
  height: 580px;
  #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .c-hero-inner {
  	position: relative;
  	height: 100%;
  	float: left;
  }
  .c-producer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $column-gutter*3;
    z-index: 10;
  }
}
