.c-location {
	font-weight: $font-weight-bold;
	margin-bottom: $header-bottom-margin*3;
	color: $secondary-color !important;

	h1 + & {
		margin-top: -($header-bottom-margin);
	}
	h3 + & {
		margin-top: -($header-bottom-margin);
	}
}
