$product-padding: rem-calc(14);
$c-list-padding: $column-gutter*0.75;
$c-list-title-size: rem-calc(20);
$c-list-desc-size: rem-calc(14);
$c-list-desc-lineheight: 1.45;

.c-list {
	margin-top: rem-calc(20);
	@include grid-row(nest);
}

.c-list-item-wrap {
	.is-3wide &,
	.is-4wide &,
	.is-2wide & {
		@include grid-column(12/1);
	}
	@media #{$medium-up} {
		.is-3wide & {
			@include grid-column(12/3);
		}
		.is-4wide & {
			@include grid-column(12/3);
		}
		.is-2wide & {
			@include grid-column(12/1);
		}
	}
	@media #{$large-up} {
		.is-3wide & {
			@include grid-column(12/3);
		}
		.is-4wide & {
			@include grid-column(12/4);
		}
		.is-2wide & {
			@include grid-column(12/2);
		}
	}
}

$product-text-small: rem-calc(14);

.c-product_info {
	padding: $product-padding;

	background: $white;

	&_producer {
		font-size: $product-text-small;

		margin-bottom: 0;

		color: $primary-color;

		@extend %tjukk;
	}

	&_title {
		margin-top: 0;
	}

	&_text {
		font-size: $product-text-small;

		display: none;
	}
}
