$merke-size: rem-calc(26);
$merke-size-large: rem-calc(50);

.c-merke {
	float: left;
	background-size: cover;
	width: $merke-size;
	height: $merke-size;

	label & {
		margin: rem-calc(5 0 -8 0);
		float: none;
		display: inline-block;
	}

	&-large {
		width: $merke-size-large;
		height: $merke-size-large;
	}

	&-bgb {
		@include background-image("merke-bgb");
	}

	&-debio {
		@include background-image("merke-debio");
	}

	&-msc {
		@include background-image("merke-msc");
	}

	&-nokkelhull {
		@include background-image("merke-nokkelhull");
	}

	&-nytnorge {
		@include background-image("merke-nytnorge");
	}

	&-nytnorge {
		@include background-image("merke-nytnorge");
	}

	&-spesialitet {
		@include background-image("merke-spesialitet");
	}
}
