.c-news {
  @include block-grid(
    $per-row: 1,
    $base-style: true
  );
  @media #{$medium-up} {
    @include block-grid(
      $per-row: 2,
      $base-style: false
    );
  }
  @media #{$large-up} {
    @include block-grid(
      $per-row: 3,
      $base-style: false
    );
  }
}
