$c-product-anitime: 200ms;
$c-product-anidelay: 250ms;
$c-product-anicurve: cubic-bezier(0.40, 1, 0.40, 1);

$desc-font-size: $c-list-desc-size;
$desc-line-height: $c-list-desc-lineheight;
$desc-lines-to-show: 4;
$desc-calculated-height: $desc-font-size*$desc-line-height*$desc-lines-to-show;

.c-product {
	position: relative;
	background: $white;
	margin-bottom: $column-gutter;
	transform: translate3d(0,0,0);
	&:hover {
		cursor: pointer;
	}
}

$c-link-z: 20;
$c-other-z: 30;

.c-product-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $c-link-z;
	@extend %text-indent;
}

.c-product-image {
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 75%;
	background-color: $gray-light-color;
	@media #{$small-only} {
		padding-bottom: 50%;
	}
	background-position: center center;
	background-size: cover;
	.no-touch .c-product.is-animated &:before {
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		transition: background $c-product-anicurve $c-product-anitime;
	}
	.no-touch .c-product.is-animated:hover &:before {
		background: rgba(0,0,0,.2);
	}

}

.button.heart {
	position: absolute;
	top: $c-list-padding;
	right: $c-list-padding;
	z-index: $c-other-z;
	background: none;
	padding: 0;
	font-size: rem-calc(30);
	@media #{$medium-up} {
		font-size: rem-calc(36);
	}
	color: transparent;
	padding: 0 5px;
	-webkit-text-stroke: 2px $white;
	text-shadow: 0 0 5px rgba(0,0,0,.2);
	@media #{$retina} {
		text-shadow: 0 0 2px rgba(0,0,0,.2);
	}
	@media #{$ie} {
	  color: $white;
	}
	transition: all 150ms;
	&:hover {
		color: $white;
	}
	&.active {
		color: $like-color;
		-webkit-text-stroke: 2px $white;
	}
	&.active-animation {
		@extend %heart-animation;
	}
	&:before {
		content: "\f159";
		font-family: $font-icons;
		display: block;
	}
	&:focus, &:active {
		outline: none;
	}
}

@keyframes bounce {
  0% { transform: scale(1); opacity: 1 }
  50% { transform: scale(1.6); opacity: .7; }
  60% { transform: scale(0.8); opacity: 1 }
  80% { transform: scale(0.95) }
  100% { transform: scale(1) }
}

.c-product-info {
	position: relative;
	padding: $c-list-padding;
	background: $white;

	.no-touch & {
		transition: transform $c-product-anicurve $c-product-anitime;
		height: $desc-calculated-height + 2.8rem;
		@media #{$xlarge-up} {
			height: $desc-calculated-height + 1.8rem;
    }
		transition-delay: 100ms;
	}

	.no-touch .c-product.is-animated:hover & {
		transform: translate3d(0,-($desc-calculated-height + 1rem),0);
		@media #{$xlarge-up} {
			transform: translate3d(0,-($desc-calculated-height),0);
    }
		transition-duration: $c-product-anitime*1.5;
		transition-delay: 0;
	}

	&_likes {
		font-size: $desc-font-size;
		font-weight: $font-weight-bold;
		color: $secondary-color;
		margin: rem-calc(-4 0 4);
	}

	&_tag {
		@include label(
			$bg:rgba(#000,.6)
		);
		text-transform: uppercase;
		position: absolute;
		top: -($c-list-padding*2);
		left: $c-list-padding;
		font-weight: $font-weight-bold;
		color: $white;
	}

	&_producer {
		margin: rem-calc(-2 0 0);
		color: $primary-color;
		@extend %tjukk;
		font-size: rem-calc(13);
	}
}

.c-product-info_title {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	font-size: $c-list-title-size;
	margin: rem-calc(2 0 5);
}

.c-product-info_desc {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
	height: $desc-calculated-height; /* Fallback for non-webkit */
	@media #{$small-only} {
	  height: rem-calc(30); /* Fallback for non-webkit */
	}
	@media #{$medium-only} {
	  height: rem-calc(40); /* Fallback for non-webkit */
	}
  margin: 0 auto;
  font-size: $desc-font-size;
  line-height: $desc-line-height;
  -webkit-line-clamp: $desc-lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
	opacity: 0;
	.no-touch & {
		transition: opacity $c-product-anitime*0.5 0;
	}
	.no-touch .c-product:hover & {
		opacity: 1;
		transition-duration: $c-product-anitime*2.5;
		transition-delay: 100ms;
	}
}

.c-product-info_tags {
	position: absolute;
	left: rem-calc(4);
	bottom: rem-calc(12);
	z-index: $c-other-z;
	margin: 0;
}

.c-product .edit {
	position: relative;
	z-index: $c-other-z;
}

.c-product-info_tags .label {
	font-size: rem-calc(12);
	padding: rem-calc(4 8 3);
	background: $body-bg;
}
