.c-product-table {
	th {
		width: 30%;

		color: $gray-color;
	}

	&_allergener {
		font-weight: $font-weight-bold;
		i {
			margin-right: rem-calc(4);

			color: $warning-color;
		}
	}

	th {
		width: 34%;
	}
}
