.producer {
	li#map {
		width: 100%;
		height: 50%;
		padding-bottom: 50%;
	}
}

.c-producer {
	position: relative;
	background: $white;
	margin-bottom: $column-gutter;
	transform: translate3d(0,0,0);
  float: left;
  width: 100%;
}

.c-producer-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@extend %text-indent;
}

.c-producer-image {
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 50%;
	background-position: center center;
	background-size: cover;
  background-color: $gray-light-color;
}

.c-producer-info {
  padding: $column-gutter*0.75;
  padding-top: 0;
  h3 {
    margin-top: rem-calc(-20);
    font-size: $c-list-title-size;
    color: $primary-color;
  }
	.c-location {
		margin-bottom: rem-calc(8);
	}
  p {
    font-size: $c-list-desc-size;
    color: $gray-dark-color;
    margin-bottom: rem-calc(15);
  }
	button {
		margin-bottom: rem-calc(4);
	}
}
