.c-qualifications {
	@include pricing-table-container;
	li {
		@include pricing-table-bullet;
		font-size: $h5-font-size;
		font-weight: $font-weight-bold;
		position: relative;
		padding-left: rem-calc(55);
		color: $success-color;
		border-color: currentColor;

		&:before {
			font-family: $font-icons;
			line-height: 0.6;

			position: absolute;
			top: 50%;
			left: rem-calc(15);

			width: 35px;
			height: 35px;
			padding-top: rem-calc(10);

			content: "\f126";
			transform: translateY(-50%);
			text-align: center;

			border-radius: $global-rounded;
			background: scale-color($success-color, $lightness: 80%);
		}

		&:last-child {
			border: 0;
		}
		.button {
			position: relative;
			top: -4px;
		}
	}
}
