$c-subnav-height: rem-calc(50);
$c-subnav-background: darken($secondary-color,5%);
$c-subnav-color: lighten($jet,7%);

.c-subnav {
	z-index: $z-sticky;
}

.f-topbar-fixed {
	padding-top: $c-subnav-height;
}

.c-subnav .top-bar-section ul li > a.button.info {
	background-color: $gray-dark-color !important;
}

.sticky {
	background: $c-subnav-background;
}

.c-subnav {
	.top-bar {
		height: $c-subnav-height;
		background: $c-subnav-background;
		box-shadow: none;
	}
	.has-form {
		height: $c-subnav-height;
		background: $c-subnav-background;
	}
	.top-bar .button {
		top: 0.5rem;
	}

	.top-bar .name {
		height: $c-subnav-height;
	}
	.top-bar .name h1 {
		font-size: $h5-font-size;
		line-height: $c-subnav-height;

		padding: 0 $topbar-link-padding;

		color: $c-subnav-color;
	}
	.top-bar-section li {
		margin: 0 $topbar-link-padding/1.5 0 $topbar-link-padding/2;
		padding: 0;
	}
}
