.search-dropdown {
  text-align: left;
  @include form-select();
  padding-left: rem-calc(12) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  @extend %strip-label-styling;
  &.open {
    border-color: $input-focus-border-color;
  }
  &.button.expand {
    padding-right: 2rem;
  }
  &, &:focus, &:hover {
    background-color: $select-bg-color;
    color: $input-font-color;
  }
}

$search-dropdown-checkbox-size: rem-calc(20);

.f-dropdown.content.search-dropdown-content {
  @media #{$small-only} {
    width: 65% !important;
  }
  input {
    display: none;
  }
  li, a {
    background: none
  }
  li label {
    border-bottom: 1px solid #ddd;
    font-size: rem-calc(16);
  }
  li:last-child label {
    border-bottom: 0;
  }
  label {
    width: 100%;
    margin: 0 !important;
    padding: rem-calc(9 0);
    position: relative;
    &:before {
      content: "";
      font-family: $font-icons;
      font-size: rem-calc(13);
      padding-top: rem-calc(1);
      color: $white;
      text-align: center;
      background: #ddd;
      width: $search-dropdown-checkbox-size;
      height: $search-dropdown-checkbox-size;
      position: absolute;
      right: 0;
      top: rem-calc(11);
    }
  }
  input:checked + label {
    font-weight: $font-weight-bold;
    color: $jet;
  }
  input:checked + label:before {
    content: "\f126";
    background: $secondary-color;
  }
}
