.c-section-header {

	padding-top: rem-calc(14);
	margin-top: rem-calc(40);
	margin-bottom: rem-calc(26);

	border-top: $border-greydotted;

	section.row:first-child & {
		border-top: none;
		margin-top: 0;
	}
}
