.c-sesong {
	margin-top: rem-calc(-2);
	margin-bottom: rem-calc(16);

	@include block-grid(
	$per-row: 6,
	$spacing: 1px,
	$base-style: true
	);

	li {
		font-size: rem-calc(13);
		font-weight: $font-weight-bold;

		padding: rem-calc(18 0 16);

		text-align: center;

		color: $gray-color;
		border: 1px solid $white;
		background: scale-color($gray-light-color, $lightness: 60%);
	}

	.c-sesong_yes {
		color: $success-color;
		background: scale-color($success-color, $lightness: 80%);
	}
}
