/* ===================================================
ANIMATIONS
=================================================== */

.staggered-transition {
	transition: all 0.5s ease;
}

.staggered-enter {
	opacity: 0;
}

.staggered-leave {
	opacity: 0;
}
