.m-intro {
	position: relative;

	//height: 500px;
	//min-height: 70.5vh;
	min-height: 70vh;
	display: flex;
  align-items: center;
  justify-content: center;
	@media #{$medium-up} {
		min-height: 55vh;
	}

	background-position: center center;
	background-size: cover;
	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		content: "";
		@media #{$small-only} {
			background: rgba(0,0,0,.2);
		}
		@media #{$medium-up} {
			@include linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.3) 100%);
		}
	}
	.row {
		padding: 5rem 0 2.5rem;
		align-self: flex-end;
	}
	h1 {
		@media #{$small-only} {
			font-size: $h3-font-size;
		}
		font-size: ($h2-font-size+.3rem);
		line-height: 1.15;
	}
	h1,
	.lead {
		color: $white;
	}
	.lead {
		margin: rem-calc(10) 0 rem-calc(18);
		font-size: $h4-font-size;
		line-height: 1.35;
		@media #{$small-only} {
			font-size: $paragraph-font-size;
			line-height: 1.2;
			margin-bottom: rem-calc(20);
		}
	}
}
