.m-profilepic {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
	border-radius: 50%;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	&.large {
		width: rem-calc(120);
		height: rem-calc(120);
		@media #{$medium-up} {
			width: rem-calc(140);
			height: rem-calc(140);
		}
	}
	&.medium {
		width: rem-calc(60);
		height: rem-calc(60);
		@media #{$medium-up} {
			width: rem-calc(80);
			height: rem-calc(80);
		}
	}
	&.small {
		width: rem-calc(30);
		height: rem-calc(30);
	}

	&.is-lifted {
		margin: rem-calc(0 0 -8);
		transform: translateY(-50%);
		.producer & {
			margin: rem-calc(0 0 -38);
			transform: translateY(-50%);
		}
	}
}

.m-profilepic img {
	overflow: hidden;
}
