$search-padding: $column-gutter/2;
$search-map-cols: 4;
$search-map-cols-xl: 5;
body.search {
    overflow: hidden;
}

body.search main {
    height: calc(100% - #{$topbar-height});
}

.m-search-list,
.m-search-map {
    height: 100%;
}

#m-search-list_filters_more-hook {
  margin-bottom: 0;
  position: relative;
  top: rem-calc(-5);
  &:before {
    @include css-triangle(5px, currentColor, top);
    float: right;
    margin: rem-calc(5 0 0 6);
  }
  &.open:before {
    @include css-triangle(5px, currentColor, bottom);
    margin-top: rem-calc(0);
  }
}

.m-search-list {
	overflow: auto;
	-webkit-overflow-scrolling: touch; // rubber band scrolling on iOS
	margin-top: 1px; // to preserve top shadow from navbar
	background: $body-bg;
	@include grid-column(12, $collapse: true);
	@media #{$large-up} {
		@include grid-column((12-$search-map-cols), $collapse: true);
	}
	@media #{$xlarge-up} {
		@include grid-column((12-$search-map-cols-xl), $collapse: true);
	}
	transition: 400ms;
	.js-map-closed & {
		@include grid-column(12, $collapse: true);
	}

	&_filters {
		padding: rem-calc(20) $search-padding rem-calc(6);
		//padding-top: $search-padding*2;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		background: $white;
		font-size: rem-calc(14);

		.checkboxes {
			padding: 0;
		}

		.checkboxes label {
			font-size: rem-calc(14);
			@extend %strip-label-styling;
			float: left;
			margin-right: rem-calc(16);
		}

		&_more {
			padding: rem-calc(0 0 12);
			h3 {
				@extend %tjukk;
				font-size: rem-calc(13);
			}
			hr {
				margin: rem-calc(6 0 14);
				display: block;
				float: left;
				width: 100%;
			}
		}
	}
	&_results {
		padding: 0 $search-padding;
	}
	&_summary {
		padding: $search-padding*2 $search-padding 0;
	}
}

fieldset.sesong {
    legend {
        margin-bottom: rem-calc(8);
    }
    .columns {
        background: $body-bg;
        box-shadow: 0 0 0 1px #fff;
    }
    label {
        text-align: center;
        width: 100%;
        padding: rem-calc(16 10 10);
        input {
            display: block;
            margin: 0 auto rem-calc(4) !important;
        }
    }
}

.m-search-map {
    background: $jumbo;
    position: relative;
    @include grid-column($search-map-cols, $collapse: true);
    @media #{$xlarge-up} {
        @include grid-column($search-map-cols-xl, $collapse: true);
    }
    .js-map-closed & {
        display: none
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    &:before {
        bottom: 0;
        height: 100%;
        width: 5px;
        z-index: 9999;
        box-shadow: inset 2px 1px 4px rgba(#000, .1), inset 1px 0 0 rgba(#000, .1);
    }
    &:after {
        right: 0;
        height: 1px;
        width: 100%;
        box-shadow: inset 0 1px 0 rgba(#000, .17);
    }
}

.m-search_list_pagination {
    padding: rem-calc(30 0 60);
}

.pagination {
    li {
            &.active {
                @extend .current;
            }
        span {
            @extend a;
        }
    }
}

.m-search-list_full {
  width: 100%;
  height: auto;
  margin-bottom: rem-calc(50);
  overflow: visible;
  .m-search-list_filters {
    padding-bottom: 0;
  }
}

.mix {
    display: none;
}