$image-path: '/img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name) {
  background-image: url("#{$image-path}/#{$name}.svg");
  .no-svg & {
    background-image: url("#{$image-path}/#{$name}.#{$fallback-extension}");
    @media #{$retina} {
      background-image: url("#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension}");
    }
  }
}
