<footer class="r-footer">
  <div class="container">
    <div class="row">
      <div class="medium-3 columns small-only-text-center">
        {{#is mode "produsent"}}
        <a href="/produsent/mine-produkter.html">
        {{/is}}
        {{#is mode "innkjoper"}}
        <a href="/innkjoper/aktuelt-innkjoper.html">
        {{/is}}
        {{#is mode "utlogget"}}
        <a href="/">
        {{/is}}
          <span class="logo-footer">Lokalmat.no</span>
        </a>
      </div>
      <div class="small-12 medium-6 columns end">
        <div class="row">
          <div class="small-6 columns">
            <ul class="no-bullet">
              <li><a href="index.html">Hjem</a></li>
              <li><a href="search.html">Utforsk</a></li>
              <li><a href="hjelp.html">Hjelp</a></li>
            </ul>
          </div>
          <div class="small-6 columns">
            <ul class="no-bullet">
              <li><a href="#">Om Lokalmat</a></li>
              <li><a href="#">Om Matmerk</a></li>
              <li><a href="#">Kontakt oss</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <hr>
            <a href="http://matmerk.no/" target="_blank">
              <span class="logo-matmerk">Matmerk</span>
            </a>
          </div>
          <div class="small-12 medium-6 columns">
            <p>Pb 487 Sentrum<br>
              0105 Oslo</p>
          </div>
          <div class="small-12 medium-6 columns">
            <p>Tlf: 24 14 83 00<br>
              Epost: <a href="mailto:post@matmerk.no">post@matmerk.no</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
