<header>

  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">
        <h1>
          {{#is mode "produsent"}}
          <a href="/produsent/index.html">
          {{/is}}
          {{#is mode "innkjoper"}}
          <a href="/innkjoper/index.html">
          {{/is}}
          {{#is mode "utlogget"}}
          <a href="/">
          {{/is}}
            Lokalmat
          </a>
        </h1>
      </li>
      <li class="has-form has-search">
        <div class="row collapse">
          <div class="small-12 columns">
            <span id="search">
              <input type="search" placeholder="Søk i produkter…">
            </span>
          </div>
        </div>
      </li>
      {{#is mode "innkjoper"}}
        <li class="toggle-topbar">
          <a href="#">
            <span class="m-profilepic small" style="background-image:url('/media/profile-rema.jpg')"></span>
            REMA 1000
          </a>
        </li>
      {{/is}}
      {{#is mode "produsent"}}
        <li class="toggle-topbar">
          <a href="#">
            <span class="m-profilepic small" style="background-image:url('/media/bamsrudlaven/profile-bamsrudlaven.jpg')"></span>
            Bamsrudlåven
          </a>
        </li>
      {{/is}}
    </ul>

    {{#is mode "utlogget"}}
    <a class="button login" data-reveal-id="modal-login">Logg inn</a>
    {{else}}
    <section class="top-bar-section">
      <ul class="right">

        {{#is mode "innkjoper"}}
          {{#each innkjoper-nav}}
            {{#withSort pages 'data.sortOrder'}}
              <li{{#is ../../page.dest this.dest}} class="active"{{/is}}>
                <a href="{{this.filename}}">{{data.title}}</a>
              </li>
            {{/withSort}}
          {{/each}}
        {{/is}}
        {{#is mode "produsent"}}
          {{#each nav-produsent}}
            {{#withSort pages 'data.sortOrder'}}
              <li{{#is ../../page.dest this.dest}} class="active"{{/is}}>
                <a href="{{this.filename}}">{{data.nav-produsent-title}}</a>
              </li>
            {{/withSort}}
          {{/each}}
        {{/is}}
        <li class="divider"></li>
        <li><a href="/" class="log-out">Logg ut</a></li>
        {{#is mode "innkjoper"}}
          <li class="logged-in-as">
            <span>
              <span class="m-profilepic small" style="background-image:url('/media/profile-rema.jpg')"></span>
              <span class="logged-in-as-name">REMA 1000</span>
            </span>
          </li>
        {{/is}}
        {{#is mode "produsent"}}
          <li class="logged-in-as">
            <span>
              <span class="m-profilepic small" style="background-image:url('/media/bamsrudlaven/profile-bamsrudlaven.jpg')"></span>
              <span class="logged-in-as-name">Bamsrudlåven</span>
            </span>
          </li>
        {{/is}}
      </ul>
    </section>
    {{/is}}

  </nav>

</header>
