---
bodyclass: article has-padding-tb
---

{{#extend "tpl-default"}}

  {{#content "body"}}

    <div class="container">

      <div class="row">
        <div class="large-12 columns">
          <header>
            <h1>{{title}}</h1>
          </header>
          <p class="lead">{{lead}}</p>
          <p>
            <img class="article-featured-image" src="/media/{{image}}" />
          </p>
        </div>
      </div>

      <div class="row">

        <aside class="article-aside large-3 columns">

          <p class="article-caption">
            <strong>Foto</strong><br>
            Bamsrudlåven gård i Mysen.
          </p>

          <p class="article-author">
            Skrevet av <a href="#">Matmerk</a><br>
            Publisert for 1 måned siden
          </p>

          <ul class="inline-list m-share">
            <li><a href="#" class="button facebook"><i class="fi-social-facebook"></i> <span class="hide">Facebook</span></a></li>
            <li><a href="#" class="button twitter"><i class="fi-social-twitter"></i> <span class="hide">Twitter</span></a></li>
            <li><a href="#" class="button email info"><i class="fi-mail"></i> <span class="hide">Send på epost</span></a></li>
          </ul>

        </aside>

        <div class="large-6 columns end">
          {{#markdown}}
          {{>body}}
          {{/markdown}}
        </div>

      </div>

    </div>

  {{/content}}

{{/extend}}
