---
bodyclass: producer has-padding-b
---

{{#extend "tpl-default"}}

  {{#content "body"}}

    {{>m-product-images}}

    <div class="container">

      <div class="m-follow row hide-for-print">

        <div class="medium-6 columns">

          <div class="m-profilepic is-lifted large" style="background-image:url('/media/{{profilepicture}}')">
          </div>

          {{#is mode "innkjoper"}}
            {{#if page.following-producer}}
            <button class="button follow is-following">Følger</button>
            {{else}}
            <button class="button follow">Følg</button>
            {{/if}}
          {{/is}}

        </div>

        <div class="medium-6 columns text-right">
          <ul class="inline-list medium-right m-share">
            <li><a href="#" class="button info ghost">Skriv ut</a></li>
            <li><a href="#" class="button facebook"><i class="fi-social-facebook"></i> <span class="hide">Facebook</span></a></li>
            <li><a href="#" class="button twitter"><i class="fi-social-twitter"></i> <span class="hide">Twitter</span></a></li>
            <li><a href="#" class="button email info"><i class="fi-mail"></i> <span class="hide">Send på epost</span></a></li>
          </ul>
        </div>

      </div>

      <div class="row">

        <div class="large-7 columns">

          <header>
            <h1 class="is-red">{{title}}</h1>
            <h2 class="c-location ">{{sted}}</h2>
          </header>

          <p class="lead">{{kort-beskrivelse}}</p>

          <ul class="inline-list">
            {{#each labels}}
            <li><a href="#" class="label product">{{this}}</a></li>
            {{/each}}
          </ul>

          {{#markdown}}
          {{>body}}
          {{/markdown}}

        </div>

        <aside class="large-4 columns">

          {{#is mode "utlogget"}}
          <div class="row">
            <div class="large-12 columns mb">
              {{>c-login-panel}}
            </div>
          </div>
          {{/is}}

          {{#isnt mode "utlogget"}}
          <ul class="c-qualifications">
            {{#each mine-dokumenter}}
            <li>{{navn}} <a href="#" class="button small ghost info right">Last ned</a></li>
            {{/each}}
            <li>EPD-nummer</li>
          </ul>
          {{/isnt}}

          <ul class="c-details">
            <li id="map" class="hide-for-print">
            </li>
            <li>{{adresse}}</li>
            <li>tlf {{telefon}}</li>
            <li><a href="{{hjemmeside}}" target="_blank">Besøk nettside</a></li>
            <li><a href="mailto:{{epost}}" target="_blank">{{epost}}</a></li>
            <li><a href="{{facebook}}" class="is-facebook" target="_blank">Facebook</a></li>
          </ul>

        </aside>

      </div>
    </div>

    {{>c-related}}

  {{/content}}

{{/extend}}
