{{#extend "tpl-default"}}

  {{#content "body"}}

    <div class="container">

      <div class="row">
        <aside class="medium-4 large-3 columns aside-padding mb2">
          {{#block "aside"}}
            {{> aside }}
          {{/block}}
        </aside>
        <div class="medium-7 large-6 end columns">
          {{#block "content"}}
            {{>c-page-header}}
          {{/block}}
        </div>
      </div>

    </div>

  {{/content}}

{{/extend}}
