---
bodyclass: product has-padding-b
---

{{#extend "tpl-default"}}

  {{#content "body"}}

    <div class="r-product row medium-collapse large-uncollapse">
      <div class="large-12 columns">

          <header class="row r-product_header">
            <div class="medium-11 medium-centered columns">

              <a href="{{page.producer-link}}" class="hide-for-print">
                <div class="m-profilepic is-lifted medium" style="background-image:url('/media/{{page.profilepicture}}')">
                </div>
              </a>

              <p class="r-product_header_producer">
                <a href="{{page.producer-link}}">{{#page.tags}}{{.}}{{/page.tags}}</a>
              </p>

              <h1 class="is-red">{{title}}</h1>
            </div>
          </header>

          {{>m-product-images}}

          {{#if page.gallery}}
          <div class="show-for-print">
            {{#withFirst page.gallery 1}}
              <img src="/media/{{.}}" class="mb2" data-caption="Bildetekst går her">
            {{/withFirst}}
          </div>
          {{/if}}

          <div class="row">
            <div class="medium-11 medium-centered columns">

              <div class="m-follow row hide-for-print">
                {{#is mode "innkjoper"}}
                <div class="large-6 columns">
                  <ul class="inline-list">
                    <li>
                      {{#if page.following-product}}
                      <button type="button" class="button like is-liking">Lagret</button>
                      {{else}}
                      <button type="button" class="button like">Lagre</button>
                      {{/if}}
                    </li>
                    {{!--
                    <li>
                      <form class="form-sortiment">
                        <input type="checkbox" id="checkbox1" {{#if page.i-mitt-sortiment}} checked{{/if}}><label for="checkbox1">I mitt sortiment</label>
                      </form>
                    </li>
                    --}}
                  </ul>
                </div>
                <div class="large-6 columns">
                {{else}}
                <div class="large-12 columns">
                {{/is}}
                  {{>m-share}}
                </div>
              </div>

              <div class="row">
                <div class="medium-5 columns mb2">
                  <p class="lead">{{kort-beskrivelse}}</p>
                  {{#markdown}}
                    {{>body}}
                  {{/markdown}}
                  <a href="{{page.producer-link}}" class="button ghost hide-for-print">Mer om {{#page.tags}}{{.}}{{/page.tags}}</a>
                </div>
                <div class="medium-6 columns mb2">
                  {{>c-merkeordninger}}
                  <div class="hide-for-print">
                    <ul class="tabs has-border large" data-tab>
                      <li class="tab-title active"><a href="#tab-innhold">Innhold</a></li>
                      <li class="tab-title"><a href="#{{#isnt mode "utlogget"}}tab-varedeklarasjon{{/isnt}}">Varedeklarasjon</a></li>
                    </ul>
                    <div class="tabs-content">
                      <div class="content active" id="tab-innhold">
                        {{>m-ingredients}}
                      </div>
                      <div class="content" id="tab-varedeklarasjon">
                        {{>m-varedeklarasjon}}
                      </div>
                    </div>
                  </div>
                  <div class="show-for-print">
                    <h2>Innhold</h2>
                    {{>m-ingredients}}
                    <h2>Varedeklarasjon</h2>
                    {{>m-varedeklarasjon}}
                  </div>
                </div>
              </div>

              {{#isnt mode "utlogget"}}
              <div class="row">
                <div class="large-5 columns mb1">
                  <h4 class="mb1">Produktvarianter</h4>
                  {{>m-produktvarianter}}
                </div>
                <div class="large-6 columns mb1">
                  <h4 class="mb1">Distribusjon og tilgjenglighet</h4>
                  {{>m-distribusjon}}
                </div>
              </div>
              {{/isnt}}

              {{#is mode "utlogget"}}
              <div class="row">
                <div class="large-12 columns mb">
                  {{>c-login-panel}}
                </div>
              </div>
              {{/is}}

            </div>
          </div>

          <div class="c-hero row large-collapse show-for-large-up hide-for-print">

            <div class="c-hero-inner large-3 columns">
        			{{#each producer}}
        				{{#each this.pages}}
                  {{#ifCond ../../page.producer-link pagename}}
                    {{>c-producer}}
                  {{/ifCond}}
        				{{/each}}
        			{{/each}}
            </div>

            <div id="map"></div>

          </div>

      </div>
    </div>

    {{>c-related}}

  {{/content}}

{{/extend}}
