---

has-sticky: true
sticky-title: Gårdsis krokan vanilje
sticky-button: Se produkt
sticky-button-link: #

---

{{#extend "tpl-forms"}}

  {{>c-sticky}}

  {{#content "aside"}}

		<ul class="side-nav" role="navigation" title="Link List">
			{{#each nav-prod-rediger-profil}}
				{{#each this.pages}}
			  	<li role="menuitem" class="{{#is ../../page.dest this.dest}}active{{/is}} step-{{data.sidenav-state}}">
						<a href="{{autolink}}">{{data.sidenav-title}}</a>
					</li>
				{{/each}}
			{{/each}}
		</ul>

  {{/content}}

  {{#content "content" mode="append"}}

      {{#block "content2"}}
      {{/block}}

  {{/content}}



{{/extend}}
