{{> b-html }}
<html lang="nb" class="no-js">

<head>

	{{#block "metadata"}}
		{{> _metadata }}
	{{/block}}
	{{#block "styles"}}
		{{> _styles }}
	{{/block}}

</head>

<body class="{{ bodyclass }}{{#is mode "utlogget"}}{{else}} logged-in{{/is}} {{mode}}{{#is mode "produsent"}}{{#is has-sticky true}} has-sticky{{/is}}{{/is}}">

	{{> b-header }}

	{{> c-sticky }}

	{{#if page.has-search-filters}}
	{{>m-search-list-full}}
	{{/if}}

	<main class="main">

	<div class="show-for-print mb2">
		<div class="row">
			<div class="small-12 columns">
				<img src="/img/logo.svg" style="width:100px">
			</div>
		</div>
	</div>

	{{#block "body"}}
		{{> body }}
	{{/block}}

	</main>

	{{#is bodyclass "search"}}
	{{else}}
	{{> b-footer }}
	{{/is}}

	{{#is mode "utlogget"}}
	{{>m-modal-login}}
	{{else}}
	{{>m-modal-slett}}
	{{/is}}

	{{#block "scripts"}}
		{{> _scripts }}
	{{/block}}

</body>
</html>
